{{ component( "Ceres::Item.Components.VariationSelect" ) }}
{{ component( "CeresCoconut::Item.Components.ItemImageCarousel" ) }}
{{ component( "CeresCoconut::Item.Components.AddToWishListETC" ) }}
{{ component( "CeresCoconut::Basket.Components.AddToBasketETC" ) }}
{{ component( "Ceres::Item.Components.OrderProperties" ) }}
{{ component( "Ceres::Item.Components.OrderPropertyList" ) }}
{{ component( "CeresCoconut::Item.Components.SingleItemETC" ) }}
{{ component( "Ceres::Item.Components.GraduatedPrices" ) }}
{{ component( "Ceres::Item.Components.ItemBundle" ) }}

<single-item v-cloak item-data="{{ item | json_data }}" attributes-data="{{ attributes | json_data }}" variations="{{ variations | json_data }}">
    <template #before-price>{{ LayoutContainer.show("Ceres::SingleItem.BeforePrice", item.documents[0].data) }}</template>
    <template #after-price>{{ LayoutContainer.show("Ceres::SingleItem.AfterPrice", item.documents[0].data) }}</template>
    <template #before-add-to-basket>{{ LayoutContainer.show("Ceres::SingleItem.BeforeAddToBasket", item.documents[0].data) }}</template>
    <template #after-add-to-basket>{{ LayoutContainer.show("Ceres::SingleItem.AfterAddToBasket", item.documents[0].data) }}</template>
    <template #additional-content-after-add-to-basket>{{ LayoutContainer.show("Ceres::SingleItem.AdditionalContentAfterAddToBasket", item.documents[0].data) }}</template>
    <template #additional-content-after-vat>{{ LayoutContainer.show("Ceres::SingleItem.AdditionalContentAfterVAT", item.documents[0].data) }}</template>
    <template #add-detail-tabs>{{ LayoutContainer.show("Ceres::SingleItem.AddDetailTabs", item.documents[0].data) }}</template>
    <template #add-detail-tabs-content>{{ LayoutContainer.show("Ceres::SingleItem.AddDetailTabsContent", item.documents[0].data) }}</template>
    <template #feedback-container>{{ LayoutContainer.show("CeresCoconut::SingleItem.FeedbackContainer", item) }}</template>
    <template #image-carousel>
        {% set ImageCarouselOverride = LayoutContainer.show("Ceres::SingleItem.ImageCarousel") %}
        {% if ImageCarouselOverride|trim is empty %}
            <item-image-carousel image-url-accessor="url" template="#vue-item-image-carousel"></item-image-carousel>
        {% else %}
            {{ ImageCarouselOverride }}
        {% endif %}
    </template>
    <div slot="ItemListContainer">
      {% if similar is not empty %}
        <div class="CrossSellingCaption test1550">{{ trans("CeresCoconut::Template.ETC_PassendDazu") }}:</div>
        <crossselling-item-list class="CrossSelling_Similar" :items="{{ similar | json_encode }}" :mainprice="{{ item.documents[0].data.calculatedPrices.default.price }}" :mainid="{{ item.documents[0].data.variation.id }}"></crossselling-item-list>
      {% else %}
        {% set itemList3 = services.itemList.getItemList( "random", "", "variation.position_desc",3 ).documents %}

        <div class="CrossSellingCaption">{{ trans("CeresCoconut::Template.ETC_AehnlicheArtikel") }}:</div>
        <crossselling-item-list class="CrossSelling_Random" :items="{{ itemList3 | json_encode }}" :mainprice="{{ item.documents[0].data.calculatedPrices.default.price }}" :mainid="{{ item.documents[0].data.variation.id }}"></crossselling-item-list>
      {% endif %}
    </div>
    <div slot="CrossSellingAccessory">
    {% if replacementPart|length > 0 %}
            <div class="crossSelling">
                <container-item-list-direct-cross :items="{{ replacementPart | json_encode }}" :mainprice="{{ item.documents[0].data.prices.default.price.value }}" :mainid="{{ item.documents[0].data.variation.id }}"></container-item-list-direct-cross>
            </div>
    {% endif %}
    </div>
    {{ LayoutContainer.show("CeresCoconut::General.Scripts") }}
</single-item>
