{% extends getPartial('page-design') %}
{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}
{% import "CeresCoconut::PageDesign.Macros.ItemName" as ItemName %}
{% set companyName  = config("Ceres.header.company_name") %}

{% block PartialHead %}
    <meta name="description" content="{{ item.documents[0].data.texts.metaDescription }}">
    <meta name="keywords" content="{{ item.documents[0].data.texts.keywords }}">

    <meta property="og:title" content="{{ ItemName.get(item.documents[0].data | itemName, item.documents[0].data.variation.bundleType) }}" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="{{ webstoreConfig.domainSsl }}{{ item.documents[0].data | itemURL }}" />
    <meta property="og:image" content="{{  item.documents[0].data.images.all[0].url }}" />
    <meta property="og:description" content="{{ item.documents[0].data.texts.shortDescription }}" />

    <script type="application/ld+json"></script>

    <script id="structData" type="application/ld+json"></script>
    <script type="text/javascript">
      function getDateNextMonth(){
        var date = new Date();
        date.setDate(date.getDate() - 30);
        var dateString = date.toISOString().split('T')[0]; // "2016-06-08"
      }

      var data = "{'@context':'http://schema.org/','@type':'Product','name':'{{ ItemName.get(item.documents[0].data | itemName, item.documents[0].data.variation.bundleType) }}','sku':'{{ item.documents[0].data.variation.number }}','brand':'{{ item.documents[0].data.item.manufacturer.externalName }}','gtin13':'{{ item.documents[0].data.variation.barcodes[0].code }}','category':'item.','releaseDate':'{{ item.documents[0].data.variation.releasedAt }}','image':'{{ item.documents[0].data.images.all[0].urlPreview }}','identifier':'{{ item.documents[0].data.variation.id }}','description':'{{ item.documents[0].data.texts.description | filterTabs }}','disambiguatingDescription':'{{ item.documents[0].data.texts.shortDescription }}','manufacturer':{'@type':'Organization','name':'{{ item.documents[0].data.item.manufacturer.externalName }}'},'offers':{'@type':'Offer','priceCurrency':'{{ item.documents[0].data.prices.default.currency }}','price':'{{ item.documents[0].data.prices.default.price.value | number_format(2) }}','availability':'InStock ','itemCondition':'{{ item.documents[0].data.item.condition.names.name }}','serialNumber':'{{ item.documents[0].data.variation.number }}','url':'{{ webstoreConfig.domainSsl }}{{ item.documents[0].data | itemURL }}','priceValidUntil','" + getDateNextMonth() + "'},'depth':{'@type':'QuantitativeValue','value':'{{ item.documents[0].data.variation.lengthMM }}'},'width':{'@type':'QuantitativeValue','value':'{{ item.documents[0].data.variation.widthMM }}'},'height':{'@type':'QuantitativeValue','value':'{{ item.documents[0].data.variation.heightMM }}'},'weight':{'@type':'QuantitativeValue','value':'{{ item.documents[0].data.variation.weightG }}'}}";

      $("#structData").html(data);

    </script>

    <title>{{ companyName }} - {{ ItemName.get(item.documents[0].data | itemName, item.documents[0].data.variation.bundleType) }} | {{ trans("Ceres::Template.headerCompanyName") }}</title>
{% endblock %}

{% block PageBody %}

    {% include [category_template( item.documents[0].data.item.add_cms_page, lang, webstoreConfig.webstoreId ), "CeresCoconut::Item.SingleItemView"] %}

{% endblock %}
