{% macro forOrder( orderData ) %}

{% set totals = orderData.totals %}
{% set highlightNetPrices = orderData.highlightNetPrices | default(false) %}

<div class="gesamtsumme">
    <!-- BASKET TOTALS -->
    <div class="cmp cmp-totals">
        <h3>{{ trans("Ceres::Template.checkoutSum") }}</h3>
        <div>
          <div class="itemSum">
            <dl>
                <dt{% if not orderData.highlightNetPrices %} class="font-weight-bold"{% endif %}>
                    {{ trans("Ceres::Template.ETC_Warenwert") }}
                </dt><!--
            --><dd{% if not orderData.highlightNetPrices %} class="font-weight-bold"{% endif %}>
                    {{ totals.itemSumGross | formatMonetary( totals.currency ) }}
                </dd>

                <dt{% if not orderData.highlightNetPrices %} class="font-weight-bold"{% endif %}>
                    {{ trans("Ceres::Template.ETC_Versandkosten") }}
                </dt><!--
            --><dd{% if not orderData.highlightNetPrices %} class="font-weight-bold"{% endif %}>
                    {{ totals.shippingGross | formatMonetary( totals.currency ) }}
                </dd>

                {% set grossNet = LayoutContainer.show("Ceres::OrderConfirmation.GrossNetReplace", orderData.order) %}
                {% if grossNet|trim is not empty %}
                    {{ grossNet }}
                {% else %}
                    {% if totals.couponType == 'promotional' and (totals.couponValue | trimNewlines) != 0 %}
                        <dt{% if not orderData.highlightNetPrices %} class="font-weight-bold"{% endif %}>
                            {{ trans("Ceres::Template.ETC_GutschriftGutschein") }}
                        </dt><!--
                        --><dd{% if not orderData.highlightNetPrices %} class="font-weight-bold"{% endif %}>
                            {{ totals.couponValue | formatMonetary( totals.currency ) }}
                        </dd>
                    {% endif %}

          </div>
                    <div class="totalSum">
                        <dt{% if not orderData.highlightNetPrices %} class="font-weight-bold"{% endif %}>
                            {{ trans("Ceres::Template.ETC_Gesamtbetrag") }} ({{ trans("Ceres::Template.checkoutGross") }})
                        </dt><!--
                        --><dd{% if not orderData.highlightNetPrices %} class="font-weight-bold"{% endif %}>
                            {{ totals.totalGross | formatMonetary( totals.currency ) }}
                        </dd>
                    </div>

                    {% if not orderData.order.amounts[0].isNet %}
                        <div class="vatTotals">
                            {% for vat in totals.vats %}
                                <dt>
                                    {{ trans("Ceres::Template.basketIncludeAbbr") }} {{ vat.rate }}%
                                </dt><!--
                                --><dd>
                                    {{ vat.value | formatMonetary( totals.currency ) }}
                                </dd>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endif %} <!-- GrossNetReplace|else -->
                {% if totals.couponType == 'sales' and (totals.couponValue | trimNewlines) != 0 %}
                    <dt>
                        {{ trans("Ceres::Template.checkoutCoupon") }}
                    </dt><!--
                          --><dd>
                    {{ totals.couponValue | formatMonetary( totals.currency ) }}
                </dd>
                    <dt>
                        <strong>{{ trans("Ceres::Template.checkoutOpenAmount") }}</strong>
                    </dt><!--
                            --><dd>
                    <strong>{{ totals.openAmount | formatMonetary( totals.currency ) }}</strong>
                </dd>
                {% endif %}
                {{ LayoutContainer.show("Ceres::OrderConfirmation.AfterTotals", orderData.order) }}
            </dl>
        </div>
    </div>
    <!-- ./BASKET TOTALS -->
</div>
{% endmacro %}
