{{ component( "CeresCoconut::Item.Components.QuantityInput" ) }}
{{ component( "CeresCoconut::Basket.Components.AddToBasket" ) }}

{% import "CeresCoconut::Basket.Macros.AddToBasket" as AddToBasket %}

<script type="x/template" id="vue-wish-list-item">
  <div>
      <div class="wish-list-itemName col-lg-12">
          <a :href="wishListItem | itemURL"><strong>${ wishListItem | itemName }</strong></a>
      </div>
      <div class="wish-list-itemImage col-lg-3 col-md-3 col-xs-5">
        <a :href="wishListItem | itemURL">
          <img :src="wishListItem.images | itemImages('urlMiddle') | itemImage" alt="" border="0">
        </a>
      </div>
      <div class="wish-list-itemData col-lg-5 col-md-6 col-xs-7 p-r-0">
        <div class="ItemsDescriptionNo col-lg-12 col-md-12 col-xs-12 p-l-0 p-r-0">
          <div class="ItemsDescriptionNo Label col-lg-4 col-md-4 col-xs-5 p-l-0 p-r-0">{{ trans("CeresCoconut::Template.ETC_Artikelnummer") }}</div>
          <div class="ItemsDescriptionNo Value col-lg-8 col-md-8 col-xs-7 p-l-0 p-r-0">${ wishListItem.variation.number }</div>
        </div>
        <div class="ItemsDescriptionUnitPrice col-lg-12 col-md-12 col-xs-12 p-l-0 p-r-0">
          <div class="ItemsDescriptionUnitPrice Label col-lg-4 col-md-4 col-xs-5 p-l-0 p-r-0">{{ trans("Ceres::Template.orderConfirmationPricePerPiece") }}</div>
          <div class="ItemsDescriptionUnitPrice Value col-lg-8 col-md-8 col-xs-7 p-l-0 p-r-0">${ unitPrice | currency }</div>
        </div>
        <div class="ItemsDescriptionAvalability col-lg-12 col-md-12 col-xs-12 p-l-0 p-r-0">
          <div class="ItemsDescriptionAvalability Label col-lg-4 col-md-4 col-xs-5 p-l-0 p-r-0">{{ trans("CeresCoconut::Template.ETC_Verfuegbarkeit") }}</div>
          <div class="ItemsDescriptionAvalability Value col-lg-8 col-md-8 col-xs-7 p-l-0 p-r-0">${ wishListItem.variation.availability.names.name }</div>
        </div>
      </div>
      <div class="WatchListDelete WatchListToBasket col-lg-4 col-md-12 col-xs-12">
        {{ AddToBasket.printVueComponentWishList(
            "wishListItem.variation.id",
            "wishListItem",
            false,
            true,
            {
                ":missing-order-properties":"",
                ":is-variation-selected": "true",
                ":has-price": "wishListItem | hasItemDefaultPrice"
            }
        ) }}
        <a class="PlentyWebshopButton delete" id="button_deleteWebMyAccountWatchListDelete" @click="removeItem({id: wishListItem.variation.id, wishListItem: wishListItem, index: index})">
          {{ trans("CeresCoconut::Template.ETC_ArtikelEntfernen") }}
          <i class="material-icons MyAccountIcon_delete">delete</i>
        </a>
      </div>
    </div>
</script>
