{{ component( "Ceres::Basket.Components.AddToBasket" ) }}

{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}
{% import "CeresCoconut::PageDesign.Macros.ItemName" as ItemName %}

{% set image = item.data.images.all | first %}
{% set itemUrl =  item.data | itemURL %}
{% set nameItem = item.data.texts.name1 %}

{% if enableCarousel is not defined %}
    {% set enableCarousel = ceresConfig.item.enableImageCarousel %}
{% endif %}

{% if item.data.variation.mainVariationId is not null %}
    {% set variantenArtikel = true %}
{% else %}
    {% set variantenArtikel = false %}
{% endif %}

{% if ('item.recommendedPrice' in itemData or 'all' in itemData) %}
  {% set uvpSaving = ((1 - (item.documents[0].data.prices.default.price.value / item.documents[0].data.prices.rrp.unitPrice.value)) * 100) | round %}
{% endif %}

<li class="col-xs-6 col-sm-4 col-md-4 col-lg-3 margin-bottom-2 center itemBox tileView onHover action-0" data-plenty-id="{{ item.id }}">

  <div class="itemBoxInner">
    <div class="CategoryViewRatingCount">
      <span class="ItemRatingIconContainer ItemRatingContainer_4.9">
        {{ LayoutContainer.show("Ceres::CategoryItem.BeforePrices", item.data) }}
      </span>
    </div>
    <div id="previewImages-{{ item.id }}" class="h-lg-2 h-md-3 h-sm-2 h-xs-6 PreviewImageBig">
      <div class="previewImageSlider owl-carousel owl-theme" style="opacity: 1; display: block;">
        <div class="owl-wrapper-outer">
          <div class="owl-wrapper" style="width: 3200px; left: 0px; display: block;">
              <div class="owl-item" style="width: 200px;">
                <div class="imageBox h-lg-2 h-md-3 h-sm-2 h-xs-6 adapt-line-height test1308">
                  <a href="{{ itemUrl }}">
                    <!--
                    <img class="lazyOwl center img-responsive id-{{ item.data.item.id }} js-link" id="pic-81013547" src="{{ item.data.images.all[0].urlPreview }}" alt="Bild"
                    data-plenty="click:Redirect.to( '{{ item.data.images.all[0].urlPreview }}' )" style="display: inline-block;">
                  -->
                      <category-image-carousel
                          template="#vue-category-image-carousel"
                          :image-urls-data="{{ item.data.images | json_encode() }} | itemImages('urlMiddle')"
                          alt-text="{{ ItemName.get(item.data | itemName, item.data.variation.bundleType) }}"
                          item-url="{{ itemUrl }}"
                          :show-dots="{{ ceresConfig.item.categoryShowDots | json_encode }}"
                          :show-nav="{{ ceresConfig.item.categoryShowNav | json_encode }}"
                          :enable-carousel="{{ enableCarousel | json_encode }}">
                      </category-image-carousel>
                  </a>
                </div>
              </div>
          </div>
        </div>
      </div>
      ${ item.prices.rrp.unitPrice.formatted | itemCrossPrice }
      {% if ('item.recommendedPrice' in itemData or 'all' in itemData) %}
          <div class="crossprice_saving" v-if="currentVariation.prices.rrp && currentVariation.prices.rrp.unitPrice.value > 0 && currentVariation.prices.rrp.unitPrice.value > currentVariation.prices.default.unitPrice.value">
            -{{ uvpSaving }}%
          </div>
      {% endif %}
    </div>
    <a class="name block" href="{{ itemUrl }}">{{ nameItem }}</a>
    <p class="price js-link">
      <span class="test large linkToItem">
          <span class="Price">
            {{ item.data.prices.default.unitPrice.formatted }}
          </span>
          {% if ('item.recommendedPrice' in itemData or 'all' in itemData) %}
              <div class="crossprice" v-if="currentVariation.prices.rrp && currentVariation.prices.rrp.unitPrice.value > 0 && currentVariation.prices.rrp.unitPrice.value > currentVariation.prices.default.unitPrice.value">
                  <div class="text-muted small">
                     UVP <del>${ currentVariation.prices.rrp.unitPrice.formatted }</del> <span class="crossprice_SavingText">Sie sparen {{ uvpSaving }}%</span>
                  </div>
              </div>
          {% endif %}
      </span>
    </p>
    <p class="item_details hidden-xs"><a href="{{ itemUrl }}">Details</a></p>
    <div id="CatOverviewTechnicalData">
      {{ item.data.texts.technicalData | raw }}
    </div>
  </div>
</li>
