{{ component( "Ceres::Basket.Components.AddToBasket" ) }}
{{ component( "CeresCoconut::ItemList.Components.CategoryImageCarousel") }}

{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}
{% import "CeresCoconut::PageDesign.Macros.ItemName" as ItemName %}


{% set item = item %}
{% set image = item.images.all | first %}
{% set itemUrl =  item | itemURL %}
{% set nameItem = item.texts.name1 %}

{% if enableCarousel is not defined %}
    {% set enableCarousel = ceresConfig.item.enableImageCarousel %}
{% endif %}

{% if (item.prices.rrp) %}
  {% if (item.prices.rrp.unitPrice.value > item.prices.default.price.value) %}
    {% set uvpSaving = ((1 - (item.prices.default.price.value / item.prices.rrp.unitPrice.value)) * 100) | round %}
  {% endif %}
{% endif %}

{% if (item.texts.name3 == "") or (item.texts.name3 == "N / A") %}
  {% set etcAltText = ItemName.get(item | itemName, item.variation.bundleType) %}
{% else %}
  {% set etcAltText = item.texts.name3 %}
{% endif %}

<li class="col-xs-6 col-sm-4 col-md-4 col-lg-3 margin-bottom-2 center itemBox tileView onHover action-0" data-plenty-id="{{ item.id }}">
  <div class="itemBoxInner">
    <div class="catItemRow1 row">
      <category-image-carousel>
      </category-image-carousel>
      {% if (uvpSaving) %}
        <div class="crossprice_saving">
          -{{ uvpSaving }}%
        </div>
      {% endif %}
    </div>
    <div class="catItemRow2 row">
      <a class="name block" href="{{ itemUrl }}">{{ nameItem }}</a>
    </div>
    <div class="catItemRow3 row">
      <p class="price js-link">
        <span class="test large linkToItem">
          <span class="Price">
            {{ item.prices.default.unitPrice.formatted }}
          </span>
        </span>
      </p>
      <p class="crossprice_container">
        {% if (uvpSaving) %}
          <span class="crossprice_cat">
            <del>{{ item.prices.rrp.unitPrice.value | number_format(2, '.', ',') }} {{ item.prices.rrp.currency }}</del> UVP
          </span>
        {% else %}
          <span class="crossprice_cat">&nbsp;</span>
        {% endif %}
      </p>
    </div>
    <div class="catItemRow4 row">
      <div class="CategoryViewRatingCount">
        <span class="ItemRatingIconContainer">
          {{ LayoutContainer.show("Ceres::CategoryItem.BeforePrices", item) }}
        </span>
      </div>
      <div class="categoryViewShippingLabel">{{ trans("CeresCoconut::Template.ETC_GratisVersand") }}</div>
    </div>
    <div class="catItemRow5 row">
      <!-- Todo: PROPERTYICONS -->
    </div>
    <div class="catItemRow6 row">
      <div class="CatOverviewTechnicalData">
        {{ item.texts.technicalData | raw }}
      </div>
    </div>
  </div>
</li>
