{{ component( "Ceres::Basket.Components.AddToBasket" ) }}
{{ component( "CeresCoconut::ItemList.Components.CategoryImageCarousel") }}

{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}
{% import "CeresCoconut::PageDesign.Macros.ItemName" as ItemName %}


{% set item = item %}
{% set image = item.images.all | first %}
{% set itemUrl =  item | itemURL %}
{% set nameItem = item.texts.name1 %}

{% if enableCarousel is not defined %}
    {% set enableCarousel = ceresConfig.item.enableImageCarousel %}
{% endif %}

{% if (item.prices.rrp) %}
  {% if (item.prices.rrp.unitPrice.value > item.prices.default.price.value) %}
    {% set uvpSaving = ((1 - (item.prices.default.price.value / item.prices.rrp.unitPrice.value)) * 100) | round %}
  {% endif %}
{% endif %}

{% if (item.texts.name3 == "") or (item.texts.name3 == "N / A") %}
  {% set etcAltText = ItemName.get(item | itemName, item.variation.bundleType) %}
{% else %}
  {% set etcAltText = item.texts.name3 %}
{% endif %}

<li class="col-xs-6 col-sm-4 col-md-4 col-lg-3 margin-bottom-2 center itemBox tileView onHover action-0" data-plenty-id="{{ item.id }}">
  <div class="itemBoxInner">
    <div class="CategoryViewRatingCount">
      <span class="ItemRatingIconContainer">
        {{ LayoutContainer.show("Ceres::CategoryItem.BeforePrices", item) }}
      </span>
    </div>
    <div id="previewImages-{{ item.id }}" class="h-lg-2 h-md-3 h-sm-2 h-xs-6 PreviewImageBig">
      <div class="previewImageSlider owl-carousel owl-theme" style="opacity: 1; display: block;">
        <div class="owl-wrapper-outer">
          <div class="owl-wrapper" style="width: 3200px; left: 0px; display: block;">
              <div class="owl-item" style="width: 200px;">
                <div class="imageBox h-lg-2 h-md-3 h-sm-2 h-xs-6 adapt-line-height test1308">
                  <div style="display: none">{{ item | json_encode }}</div>
                  <category-image-carousel :image-urls-data="images | itemImages(imageUrlAccessor)"
                                          :alt-text="etcAltText"
                                          :title-text="item | itemName"
                                          :item-url="item | itemURL(urlWithVariationId)"
                                          :enable-carousel="$ceres.config.item.enableImageCarousel"
                                          :disable-carousel-on-mobile="disableCarouselOnMobile"
                                          ref="categoryImageCarousel">
                  </category-image-carousel>
                </div>
              </div>
          </div>
        </div>
      </div>
      {% if (uvpSaving) %}
          <div class="crossprice_saving">
            -{{ uvpSaving }}%
          </div>
      {% endif %}
    </div>
    <a class="name block" href="{{ itemUrl }}">{{ nameItem }}</a>
    <p class="price js-link">
      <span class="test large linkToItem">
        <span class="Price">
          {{ item.prices.default.unitPrice.formatted }}
        </span>
      </span>
    </p>
    <p class="item_details hidden-xs"><a href="{{ itemUrl }}">Details</a></p>
    <p class="crossprice_container">
      {% if (uvpSaving) %}
        <span class="crossprice_cat">
          <del>{{ item.prices.rrp.unitPrice.value | number_format(2, '.', ',') }} {{ item.prices.rrp.currency }}</del> UVP
        </span>
      {% else %}
        <span class="crossprice_cat">&nbsp;</span>
      {% endif %}
    </p>
    <div class="CatOverviewTechnicalData">
      {{ item.texts.technicalData | raw }}

    </div>
  </div>
</li>
