{% set baseURL = services.url.getCanonicalURL() %}
{% set currTpl = services.template.getCurrentTemplate() %}
{% set prevPage = currentPage - 1 <= 1 ? null : currentPage - 1 %}
{% set beforePrevPage = currentPage - 2 <= 1 ? null : currentPage - 2 %}
{% set page = currentPage %}

{% set classPageNumberLength = "" %}
{% if page > 9 and page < 100 %}
  {% set classPageNumberLength = "zweistellig" %}
{% elseif page > 99 and page < 1000 %}
  {% set classPageNumberLength = "dreistellig" %}
{% else %}
  {% set classPageNumberLength = "einstellig" %}
{% endif %}


{% if pageMax > 1 %}
      <ul class="pagination nav navbar-left col-lg-4 p-x-0">
          <div class="navPrevLinks TEST0857">
            <!-- FIRST PAGE LINK -->
            {% if page > 2 and config('Ceres.pagination.showFirstPage') == "true" %}
                <li class="nav_first">
                    <a rel="first" href="{{ baseURL ~ queryString({ 'page': null }) }}">
                      <i class="material-icons skip_prev">skip_previous</i>
                    </a>
                </li>
            {% endif %}
            <!-- ./FIRST PAGE LINK -->

            <!-- PREV LINK -->
            {% if page > 1 %}
                <li class="nav_prev">
                    <a rel="prev" href="{{ baseURL ~ queryString({ 'page': prevPage }) }}">
                      <i class="material-icons">play_arrow</i>
                    </a>
                </li>
            {% endif %}
            <!-- ./PREV LINK -->
          </div>

          <div class="navPages">
            <li class="hidden-xs hidden-sm">
              <div class="articlePages">
                <!-- PAGINATION -->
                {% if page > 1 %}
                  <a class="articlePages_LinkElement articlePages_Link page-link {{ classPageNumberLength }}" href="{{ baseURL ~ queryString({ 'page': prevPage }) }}">{{ page - 1 }}</a>
                {% endif %}

                <a class="articlePages_LinkElement articlePages_Link page-link articlePages_activeLink {{ classPageNumberLength }}">{{ page }}</a>

                {% if page+1 <= pageMax %}
                  <a class="articlePages_LinkElement articlePages_Link page-link {{ classPageNumberLength }}" href="{{ baseURL ~ queryString({ 'page': currentPage + 1 }) }}">{{ page + 1 }}</a>
                {% endif %}

                {% if page == 1 and pageMax >= 3 %}
                  <a class="articlePages_LinkElement articlePages_Link page-link {{ classPageNumberLength }}" href="{{ baseURL ~ queryString({ 'page': currentPage + 2 }) }}">{{ page + 2 }}</a>
                {% endif %}

                <!-- ./PAGINATION -->
              </div>
            </li>
          </div>
          <div class="navNextLinks">
            <!-- NEXT LINK -->
            {% if page < pageMax-1 and config('Ceres.pagination.showLastPage') == "true" %}
                <li class="nav_next">
                    <a rel="next" href="{{ baseURL ~ queryString({ 'page': currentPage + 1 }) }}">
                       <i class="material-icons">play_arrow</i>
                    </a>
                </li>
            {% endif %}
            <!-- ./NEXT LINK -->

            <!-- LAST PAGE LINK -->
            {% if page < pageMax-2 and config('Ceres.pagination.showLastPage') == "true" %}
                <li class="nav_last">
                    <a rel="last" href="{{ baseURL ~ queryString({ 'page': pageMax }) }}">
                      <i class="material-icons skip_next">skip_next</i>
                    </a>
                </li>
            {% endif %}
            <!-- ./LAST PAGE LINK -->
          </div>
      </ul>

{% endif %}
