{% set baseURL = services.url.getCanonicalURL() %}
{% set currTpl = services.template.getCurrentTemplate() %}
{% set prevPage = currentPage - 1 <= 1 ? null : currentPage - 1 %}
{% set beforePrevPage = currentPage - 2 <= 1 ? null : currentPage - 2 %}
{% set page = currentPage %}

{% set classPageNumberLength = "" %}
{% if page > 9 and page < 100 %}
  {% set classPageNumberLength = "zweistellig" %}
{% elseif page > 99 and page < 1000 %}
  {% set classPageNumberLength = "dreistellig" %}
{% else %}
  {% set classPageNumberLength = "einstellig" %}
{% endif %}

<div style="display: none">
{% for i in 0..pageMax %}
    Page: {{ i }}<br>
{% endfor %}
</div>

{% if pageMax > 1 %}
        <div class="paginationContainer float-right">
          <div class="pagePrevLinks float-left">
            <!-- FIRST PAGE LINK -->
            {% if page > 2 and config('Ceres.pagination.showFirstPage') == "true" %}
                    <a class="pageFirstPage" rel="first" href="{{ baseURL ~ queryString({ 'page': null }) }}">
                      <i class="material-icons skip_prev">skip_previous</i>
                    </a>
            {% endif %}
            <!-- ./FIRST PAGE LINK -->

            <!-- PREV LINK -->
            {% if page > 1 %}
                    <a class="pagePrevPage" rel="prev" href="{{ baseURL ~ queryString({ 'page': prevPage }) }}">
                      <i class="material-icons">play_arrow</i>
                    </a>
            {% endif %}
            <!-- ./PREV LINK -->
          </div>

          <div class="pagePages float-left">
                <!-- PAGINATION -->
                {% if page > 1 %}
                  <a class="pageLinkElement {{ classPageNumberLength }}" href="{{ baseURL ~ queryString({ 'page': prevPage }) }}">{{ page - 1 }}</a>
                {% endif %}

                <a class="pageLinkElement pageActiveLink {{ classPageNumberLength }}">{{ page }}</a>

                {% if page+1 <= pageMax %}
                  <a class="pageLinkElement {{ classPageNumberLength }}" href="{{ baseURL ~ queryString({ 'page': currentPage + 1 }) }}">{{ page + 1 }}</a>
                {% endif %}

                {% if page == 1 and pageMax >= 3 %}
                  <a class="pageLinkElement {{ classPageNumberLength }}" href="{{ baseURL ~ queryString({ 'page': currentPage + 2 }) }}">{{ page + 2 }}</a>
                {% endif %}

                <!-- ./PAGINATION -->
          </div>
          <div class="pageNextLinks float-left">
            <!-- NEXT LINK -->
            {% if page < pageMax-1 and config('Ceres.pagination.showLastPage') == "true" %}
                    <a class="pageNextPage" rel="next" href="{{ baseURL ~ queryString({ 'page': currentPage + 1 }) }}">
                       <i class="material-icons">play_arrow</i>
                    </a>
            {% endif %}
            <!-- ./NEXT LINK -->

            <!-- LAST PAGE LINK -->
            {% if page < pageMax-2 and config('Ceres.pagination.showLastPage') == "true" %}
                    <a class="pageLastPage" rel="last" href="{{ baseURL ~ queryString({ 'page': pageMax }) }}">
                      <i class="material-icons skip_next">skip_next</i>
                    </a>
            {% endif %}
            <!-- ./LAST PAGE LINK -->
          </div>
      </div>

{% endif %}
