{% set billingAddressFields = config("Ceres.billing_address.show") | split(', ') %}
{% set billingAddressFieldsRequired = config("Ceres.billing_address.require") | split(', ') %}
{% set deliveryAddressFields = config("Ceres.delivery_address.show") | split(', ') %}
{% set deliveryAddressFieldsRequired = config("Ceres.delivery_address.require") | split(', ') %}

<script type="x/template" id="vue-country-select">

<div class="UniversalAddressContainer col-lg-12" id="UniversalAddressCountry">
    <div class="input-unit single" data-validate="" data-model="countryId">
        <label>{{ trans("CeresCoconut::Template.headerCountry") }}</label>
        <select  :value="selectedCountryId" class="custom-select" @change="countryChanged($event.target.value)">
            <option :value="country.id" :selected="country.id === selectedCountryId" v-for="country in countryList">
                ${ country.currLangName }
            </option>
        </select>
    </div>


    {% if "billing_address.stateId" in billingAddressFields %}
    <div class="input-unit" v-if="stateList && stateList.length > 0 && addressType === '1'" {% if "billing_address.stateId" in billingAddressFieldsRequired %}data-validate {% endif %} data-model="stateId">
        <select :value="selectedStateId" class="custom-select" @change="stateChanged($event.target.value)">
            <option :selected="selectedStateId === null">{{ trans("CeresCoconut::Template.addressPleaseSelect") }}</option>
            <option :value="state.id" :selected="state.id === selectedStateId" v-for="state in stateList">
                ${ state.name }
            </option>
        </select>
        <label>{{ trans("CeresCoconut::Template.headerState") }}{% if "billing_address.stateId" in billingAddressFieldsRequired %}*{% endif %}</label>
    </div>
    {% endif %}


    {% if "delivery_address.stateId" in deliveryAddressFields %}
        <div class="input-unit" v-if="stateList && stateList.length > 0 && addressType === '2'" {% if "delivery_address.stateId" in deliveryAddressFieldsRequired %}data-validate {% endif %} data-model="stateId">
            <select :value="selectedStateId" class="custom-select" @change="stateChanged($event.target.value)">
                <option :selected="selectedStateId === null">{{ trans("CeresCoconut::Template.addressPleaseSelect") }}</option>
                <option :value="state.id" :selected="state.id === selectedStateId" v-for="state in stateList">
                    ${ state.name }
                </option>
            </select>
            <label>{{ trans("CeresCoconut::Template.headerState") }}{% if "delivery_address.stateId" in deliveryAddressFieldsRequired %}*{% endif %}</label>
        </div>
    {% endif %}

</div>

</script>
