{% extends getPartial('page-design') %}
{% import "CeresCoconut::Category.Macros.CategoryTree" as Tree %}
{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% set categoryDescriptionBottom = ceresConfig.item.showCategoryDescriptionBottom %}
{% set categoryDescriptionTop = ceresConfig.item.showCategoryDescriptionTop %}
{% set decimalCount = ceresConfig.item.storeSpecial %}
{% set overrideSearchFilters = LayoutContainer.show("Ceres::Search.Filter", facets ) %}

{% block PageBody %}

    {{ component( "Ceres::ItemList.Components.CategoryItem") }}
    {{ component( "Ceres::ItemList.Components.Filter.ItemFilterList") }}
    {{ component( "Ceres::ItemList.Components.Filter.ItemFilterTagList") }}
    {{ component( "Ceres::ItemList.Components.ItemList") }}

    {{ component( "CeresCoconut::ItemList.Components.CategoryImageCarousel") }}

    <!-- include parallax image -->

    {% set shippingCat = config("Ceres.global.shippingCostsCategoryId") %}
    <div class="container categoryView isGridView isList-1">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 CategoryItemList">

          <div style="display: none">Vor isSearch</div>
          {% if isSearch %}
            <div style="display: none">Nach isSearch</div>
            {{ LayoutContainer.show("Findologic::CategoryItem.SmartDidYouMean") }}
          {% else %}
            {% if category.details[0].name == "Deckenbeleuchtung" %}
              <h1 class="CategoryCaption">{% if category.details[0].metaTitle %}{{ category.details[0].metaTitle }}{% else %}{{ category.details[0].name }}{% endif %}</h1>
              <span class="col-lg-12 CategorySubCaption">{{ category.details[0].shortDescription }}</span>
            {% endif %}
          {% endif %}
            <div class="col-lg-3 col-md-3 col-xs-2 filterSubnavigationPanel">
            <div class="SubnavigationTitle ITEMFILTERTAGLIST"><span class="hidden-xs">{{ trans("CeresCoconut::Template.ETC_SucheEingrenzen") }}</span><span class="hidden-lg"><i class="material-icons w3-xxxlarge">filter_list</i></span></div>
              <div id="SubnavigationContent">
                {{ include('CeresCoconut::PageDesign.Partials.Header.SideNavigationETC.twig') }}
                <item-filter-tag-list></item-filter-tag-list>
                {% set overrideSearchFilters = LayoutContainer.show("Ceres::Search.Filter", facets ) %}
                {% if overrideSearchFilters | trim is empty and facets %}
                  <item-filter-list :facet-data="{{ facets | json_encode }}"></item-filter-list>
                {% else %}
                  {{ overrideSearchFilters }}
                {% endif %}
              </div>
            </div>
          <div class="categoryPagination row margin-top-2 margin-bottom-2 col-lg-9 col-xs-10">
            <nav class="navbar navbar-default">
              {% if ceresConfig.pagination.position in ['top', 'top_bottom'] %}
                <!--<pagination template="#vue-paginationETC"></pagination>
                <noscript>-->
                  {% include "CeresCoconut::Category.Item.Partials.PaginationETC" %}
                <!--</noscript>-->
              {% endif %}

              <ul class="nav navbar-right col-lg-8">
                <li class="hidden-xs">
                  <span class="hidden-xs">{{ itemCountTotal }} {{ trans("CeresCoconut::Template.ETC_Artikel") }}</span>
                </li>
                <li>
                  {% include "CeresCoconut::Category.Item.Partials.ItemSorting" with { 'sortingData': searchOptions.sorting, 'selectedSorting': itemSorting } %}
                  {% include "CeresCoconut::Category.Item.Partials.ItemsPerPage" with { 'itemsPerPage': searchOptions.itemsPerPage, 'selectedValue': itemsPerPage } %}
                  <!--<item-list-sorting template="#vue-item-list-sortingETC" :sorting-list="{{ searchOptions.sorting | json_encode }}" :default-sorting="{{ searchOptions.defaultSorting | json_encode }}"></item-list-sorting>
                  <items-per-page
                    template="#vue-items-per-page"
                    :pagination-values="{{ searchOptions.itemsPerPage | json_encode }}"></items-per-page>-->
                </li>
              </ul>
            </nav>
          </div>
          {# TAGS
          <item-filter-tag-list></item-filter-tag-list>#}

          {% if ceresConfig.header.showNavBars == "side" or ceresConfig.header.showNavBars == "both" %}
            <div class="col-xs-3 hidden-md-down">
              <div class="sidebar-categories">
                <div class="category-title">{{ trans("Ceres::Template.itemCategories") }}</div>
                {{ include('Ceres::PageDesign.Partials.Header.SideNavigation.twig') }}
              </div>
              {{ LayoutContainer.show("Ceres::CategoryItem.SideNavBarBottom") }}
            </div>
          {% endif %}
                    {% if ceresConfig.item.loadingAnimationType != "blur" %}
                        {% include "Ceres::ItemList.Partials.LoadingAnimation" %}
                    {% endif %}

                    <div style="display: none">{{ itemList | json_encode }}</div>

                    <ul id="twig-rendered-item-list" class="row categoryDetails isGridView col-lg-9 col-xs-12 p-x-0">
                        {% for item in itemList %}
                            {{ item | json_encode }}
                            
                            {% include "CeresCoconut::Category.Item.Partials.CategoryListItemETC" with { 'item': item, 'shippingCat': shippingCat } %}
                        {% endfor %}
                    </ul>

        <div id="PaginationBottom" class="categoryPagination row margin-top-2 margin-bottom-2 col-lg-9">
          <nav class="navbar navbar-default">
            {% if ceresConfig.pagination.position in ['top', 'top_bottom'] %}
                {% include "CeresCoconut::Category.Item.Partials.PaginationETC" %}
            {% endif %}
          </div>
        </div>
      </div>
      {% if category.details[0].description | trim is not empty %}
      <div id="cnt_Start_SEO" class="container_centered">
          <div class="container">
              <div class="row">
                {% if category.details[0].name == "Deckenbeleuchtung" %}
                <div class="col-lg-12 p-0">
                  {{ category.details[0].description2 | raw }}
                </div>
                {% endif %}
                <div class="col-lg-12 p-0">
                    {{ category.details[0].description | raw }}
                </div>
              </div>
          </div>
      </div>
      {% endif %}
    </div>

    {{ LayoutContainer.show("CeresCoconut::Payment.Scripts") }}
{% endblock %}

{% block PartialHead %}

    {% if currentPage-1 > 0 %}
        <link rel="prev" href="{{ webstoreConfig.domainSsl }}?{{ query | merge({'page' : currentPage-1 }) | url_encode }}" />
    {% endif %}

    {% if currentPage+1 <= pageMax %}
        <link rel="next" href="{{ webstoreConfig.domainSsl }}?{{ query | merge({'page' : currentPage+1 }) | url_encode }}" />
    {% endif %}

    <title>{% if category.details[0].metaTitle %}{{ category.details[0].metaTitle }}{% else %}{{ category.details[0].name }}{% endif %} günstig kaufen | {{ config("Ceres.header.company_name") }}</title>

    <meta name="description" content="{{ category.details[0].metaDescription }}">
    <meta name="keywords" content="{{ category.details[0].metaKeywords }}">

    <meta name="robots" content="{{ metaRobots }}">



{% endblock %}
