{{ component( "CeresCoconut::Customer.Components.SalutationSelect" ) }}

<div class="BillingAddressContainer col-lg-12" id="BillingSalutation">
        <label :for="'txtSalutation' + _uid" v-validate="isInRequiredFields('de', 'billing_address.salutation')">
            ${ transformTranslation("Ceres::Template.addressSalutation", "de", "billing_address.salutation") }
        </label>
        <div
            class="input-unit single">
                <salutation-select :address-type="addressType" :address-data="value" :enabled-address-fields="optionalAddressFields" :default-salutation="defaultSalutation" @input="emitInputEvent($event.field, $event.value)"></salutation-select>
        </div>
</div>
<div class="BillingAddressContainer col-lg-12 TEST1612" id="BillingCompany" v-if="isInOptionalFields('de', 'billing_address.salutation') && value.gender === 'company' || isInOptionalFields('de', 'billing_address.name1') && !isInOptionalFields('de', 'billing_address.salutation')">
        <label :for="'txtCompany' + _uid"  v-if="isInOptionalFields('de', 'billing_address.salutation') && value.gender === 'company' || isInOptionalFields('de', 'billing_address.name1') && !isInOptionalFields('de', 'billing_address.salutation')">
            {{ trans("Ceres::Template.addressCompany") }}*
        </label>
        <div class="input-unit single" data-validate="text" data-model="name1">
            <input type="text" name="company" :id="'txtCompany' + _uid" :value="value.name1" @input="emitInputEvent('name1', $event.target.value)" data-autofocus>
        </div>
</div>
<div class="BillingAddressContainer col-lg-12" id="BillingVatNumber" v-if="(isInOptionalFields('de', 'billing_address.salutation') && value.gender === 'company') || isInOptionalFields('de', 'billing_address.vatNumber')">
        <label :for="'txtVatNumber' + _uid" v-if="(isInOptionalFields('de', 'billing_address.salutation') && value.gender === 'company') || isInOptionalFields('de', 'billing_address.vatNumber')">
            ${ transformTranslation("Ceres::Template.addressVatNumber", "de", "billing_address.vatNumber") }
        </label>
        <div
            class="input-unit single"
            data-model="vatNumber"
            v-validate:text="isInRequiredFields('de', 'billing_address.vatNumber')">
            <input type="text" name="vatNumber" :id="'txtVatNumber' + _uid" :value="value.vatNumber"  @input="emitInputEvent('vatNumber', $event.target.value)" data-autofocus>
        </div>
</div>

<div class="BillingAddressContainer col-lg-12" id="BillingContact">
        <template v-if="areNameFieldsShown('de', 'billing_address')">
            <label :for="'txtFirstName' + _uid">{{ trans("CeresCoconut::Template.ETC_addressName") }}<span v-if="areNameFieldsRequired('de', 'billing_address')">*</span></label>
            <div class="input-unit first firstName" data-model="name2" v-validate:text="areNameFieldsRequired('de', 'billing_address')">
                <input type="text" name="firstName" :id="'txtFirstName' + _uid" :value="value.name2"  @input="emitInputEvent('name2', $event.target.value)" data-autofocus>
            </div>
            <div class="input-unit second lastName" data-model="name3" v-validate:text="areNameFieldsRequired('de', 'billing_address')">
                <input type="text" name="lastName" :id="'txtLastName' + _uid" :value="value.name3" @input="emitInputEvent('name3', $event.target.value)">
            </div>
        </template>

</div>

<div class="BillingAddressContainer col-lg-12" id="BillingAdditionalData">
        <label :for="'txtAdditionalName' + _uid" v-if="isInOptionalFields('de', 'billing_address.name4')">
            ${ transformTranslation("Ceres::Template.addressAdditionalName", "de", "billing_address.name4") }
        </label>
        <div v-if="isInOptionalFields('de', 'billing_address.name4')" class="col-lg-12 col-sm-4">
            <div
                class="input-unit"
                data-model="name4"
                v-validate:text="isInRequiredFields('de', 'billing_address.name4')">
                <input type="text" name="decorateName" :id="'txtAdditionalName' + _uid" :value="value.name4" @input="emitInputEvent('name4', $event.target.value)">
            </div>
        </div>

        <label :for="'txtBirthdate' + _uid" v-if="isInOptionalFields('de', 'billing_address.birthday')">
            ${ transformTranslation("Ceres::Template.addressBirthdate", "de", "billing_address.birthday") }
        </label>
        <div v-if="isInOptionalFields('de', 'billing_address.birthday')" class="col-lg-12 col-sm-4">
            <div
                class="input-unit"
                data-model="birthday"
                v-validate:date="isInRequiredFields('de', 'billing_address.birthday') || !!value.birthday && !!value.birthday.length">
                <input type="date" min="1901-12-14" :max="new Date().toISOString().split('T')[0]" name="birthday" placeholder="{{ trans("Ceres::Template.addressBirthdatePlaceholder") }}" :id="'txtBirthdate' + _uid" :value="value.birthday" @input="emitInputEvent('birthday', $event.target.value)">
            </div>
        </div>
        <label :for="'txtTelephone' + _uid" v-if="isInOptionalFields('de', 'billing_address.phoneNumber')">
            ${ transformTranslation("Ceres::Template.addressTelephone", "de", "billing_address.phoneNumber") }
        </label>
        <div v-if="isInOptionalFields('de', 'billing_address.phoneNumber')" class="col-lg-12 col-sm-4">
            <div
                class="input-unit"
                data-model="telephone"
                v-validate:text="isInRequiredFields('de', 'billing_address.phoneNumber')">
                <input type="text" name="telephone" :id="'txtTelephone' + _uid" :value="value.telephone" @input="emitInputEvent('telephone', $event.target.value)">
            </div>
        </div>
</div>

<div class="BillingAddressContainer col-lg-12" id="BillingStreetNr">
        <label :for="'txtStreet' + _uid">{{ trans("Ceres::Template.addressStreet") }} {{ trans("Ceres::Template.addressNumber") }}*</label>
        <div class="input-unit first street" data-validate="text" data-model="address1">
            <input type="text" name="street" autocomplete="address-line1" :id="'txtStreet' + _uid" :value="value.address1" @input="emitInputEvent('address1', $event.target.value)">
        </div>
        <div class="input-unit second houseNr" data-validate="text" data-model="address2">
            <input type="text" name="housenumber" autocomplete="address-line2" :id="'txtNumber' + _uid" :value="value.address2" @input="emitInputEvent('address2', $event.target.value)">
        </div>
</div>

<div class="BillingAddressContainer col-lg-12" id="BillingAddress3And4">
        <label :for="'decorateAddress0' + _uid" v-if="isInOptionalFields('de', 'billing_address.address3')">
            ${ transformTranslation("Ceres::Template.addressAdditionalAddress1", "de", "billing_address.address3") }
        </label>
        <div v-if="isInOptionalFields('de', 'billing_address.address3')" class="col-lg-12 col-sm-6">
            <div
                class="input-unit"
                data-model="address3"
                v-validate:text="isInRequiredFields('de', 'billing_address.address3')">

                <input type="text" name="decorateAddress" :id="'decorateAddress0' + _uid" :value="value.address3" @input="emitInputEvent('address3', $event.target.value)">
            </div>
        </div>

        <label :for="'decorateAddress1' + _uid" v-if="isInOptionalFields('de', 'billing_address.address4')">
            ${ transformTranslation("Ceres::Template.addressAdditionalAddress2", "de", "billing_address.address4") }
        </label>
        <div v-if="isInOptionalFields('de', 'billing_address.address4')" class="col-lg-12 col-sm-6">
            <div
                class="input-unit"
                data-model="address4"
                v-validate:text="isInRequiredFields('de', 'billing_address.address4')">
                <input type="text" name="decorateAddress" :id="'decorateAddress1' + _uid" :value="value.address4" @input="emitInputEvent('address4', $event.target.value)">
            </div>
        </div>
</div>

<div class="BillingAddressContainer col-lg-12 col-sm-4" id="BillingZipTown">
        <label :for="'txtZip' + _uid">{{ trans("Ceres::Template.addressZip") }} {{ trans("Ceres::Template.addressPlace") }}*</label>
        <div class="input-unit first postalCode" data-validate="text" data-model="postalCode">
            <input class="input-unit" type="text" name="zip" :id="'txtZip' + _uid" :value="value.postalCode" @input="emitInputEvent('postalCode', $event.target.value)">
        </div>
        <div class="input-unit second town" data-validate="text" data-model="town">
            <input type="text" name="town" :id="'txtPlace' + _uid" :value="value.town" @input="emitInputEvent('town', $event.target.value)">
        </div>

</div>

{{ LayoutContainer.show("Ceres::Checkout.CustomAddressField") }}
