{{ component( "Ceres::Customer.Components.SalutationSelect" ) }}

{% set addressFields = config("Ceres.billing_address.show") | split(', ') %}
{% set addressFieldsRequired = config("Ceres.billing_address.require") | split(', ') %}

<div class="col-xs-12" id="BillingAddress_Salutation">
    <div class="row">
        {% if "billing_address.salutation" in addressFields %}
            <div class="col-xs-12 col-sm-12 col-lg-12 input-unit_container">
                <div class="input-unit"
                    {% if "billing_address.salutation" in addressFieldsRequired %}data-validate{% endif %}  id="BillingAddress_Salutation_Sal">
                    <label :for="'txtSalutation' + _uid" {% if "billing_address.salutation" in addressFieldsRequired %}class="form_musthave"{% endif %}>{{ trans("Ceres::Template.addressSalutation") }}</label>
                    <salutation-select template="#vue-salutation-select" :address-type="addressType" :address-data="value" @input="emitInputEvent($event.field, $event.value)"></salutation-select>
                </div>
            </div>
        {% endif %}
    </div>
</div>

<div class="col-xs-12" id="BillingAddress_NameCompany">
    <div class="row">
        {% if "billing_address.name1" in addressFields %}
            <div class="col-xs-12 col-sm-12 col-lg-12 input-unit_container" {% if "billing_address.salutation" in addressFields %}v-if="value.addressSalutation === 2"{% endif %}>
                <div class="input-unit"
                    {% if "billing_address.name1" in addressFieldsRequired %}data-validate="text" {% endif %}data-model="name1" id="BillingAddress_NameCompany_Company">
                    <label :for="'txtCompany' + _uid" {% if "billing_address.name1" in addressFieldsRequired %}class="form_musthave"{% endif %}>{{ trans("Ceres::Template.addressCompany") }}</label>
                    <input type="text" name="company" :id="'txtCompany' + _uid" :value="value.name1" @input="emitInputEvent('name1', $event.target.value)">
                </div>
            </div>
        {% endif %}

        {% if "billing_address.vatNumber" in addressFields %}
            <div class="col-xs-12 col-sm-12 col-lg-12 input-unit_container" {% if "billing_address.salutation" in addressFields %}v-if="value.addressSalutation === 2"{% endif %}>
                <div class="input-unit"
                     {% if "billing_address.vatNumber" in addressFieldsRequired %}data-validate="text" {% endif %}data-model="vatNumber" id="BillingAddress_NameCompany_VAT">
                     <label :for="'txtVatNumber' + _uid" {% if "billing_address.vatNumber" in addressFieldsRequired %}class="form_musthave"{% endif %}>{{ trans("Ceres::Template.addressVatNumber") }}</label>
                    <input type="text" name="vatNumber" :id="'txtVatNumber' + _uid" :value="value.vatNumber"  @input="emitInputEvent('vatNumber', $event.target.value)">
                </div>
            </div>
        {% endif %}
    </div>
</div>

<div class="col-xs-12" id="BillingAddress_NamePrivate">
    <div class="row">
        {% if "billing_address.title" in addressFields %}
            <div class="col-xs-12 col-sm-12 col-lg-12 input-unit_container">
                <div class="input-unit"
                     {% if "billing_address.title" in addressFieldsRequired %}data-validate="text" {% endif %}data-model="title" id="BillingAddress_NamePrivate_Title">
                     <label :for="'txtTitle' + _uid" {% if "billing_address.title" in addressFieldsRequired %}class="form_musthave"{% endif %}>{{ trans("Ceres::Template.addressTitle") }}</label>
                     <input type="text" name="title" :id="'txtTitle' + _uid" :value="value.title"  @input="emitInputEvent('title', $event.target.value)">
                </div>
            </div>
        {% endif %}

        <div class="col-xs-12 col-sm-12 col-lg-12 input-unit_container">
            <div class="input-unit" data-validate="text" data-model="name2" id="BillingAddress_NamePrivate_Name2">
                <label :for="'txtFirstName' + _uid" class="form_musthave">{{ trans("Ceres::Template.addressFirstName") }}</label>
                <input type="text" name="firstName" :id="'txtFirstName' + _uid" :value="value.name2"  @input="emitInputEvent('name2', $event.target.value)">
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-lg-12 input-unit_container">
            <div class="input-unit" data-validate="text" data-model="name3" id="BillingAddress_NamePrivate_Name3">
                <label :for="'txtLastName' + _uid" class="form_musthave">{{ trans("Ceres::Template.addressLastName") }}</label>
                <input type="text" name="lastName" :id="'txtLastName' + _uid" :value="value.name3" @input="emitInputEvent('name3', $event.target.value)">
            </div>
        </div>

        {% if "billing_address.name4" in addressFields %}
            <div class="col-xs-12 col-sm-12 col-lg-12 input-unit_container">
                <div class="input-unit"
                     {% if "billing_address.name4" in addressFieldsRequired %}data-validate="text" {% endif %} data-model="name4" id="BillingAddress_NamePrivate_Name4">
                     <label :for="'txtAdditionalName' + _uid" {% if "billing_address.name4" in addressFieldsRequired %}class="form_musthave"{% endif %}>{{ trans("Ceres::Template.addressAdditionalName") }}</label>
                     <input type="text" name="decorateName" :id="'txtAdditionalName' + _uid" :value="value.name4" @input="emitInputEvent('name4', $event.target.value)">
                </div>
            </div>
        {% endif %}

        {% if "billing_address.birthday" in addressFields %}
            <div class="col-xs-12 col-sm-12 col-lg-12 input-unit_container">
                <div class="input-unit" {% if "billing_address.birthday" in addressFieldsRequired %}data-validate="text" {% endif %} data-model="birthday" id="BillingAddress_NamePrivate_Birthday">
                    <label :for="'txtBirthdate' + _uid" {% if "billing_address.birthday" in addressFieldsRequired %}class="form_musthave"{% endif %}>{{ trans("Ceres::Template.addressBirthdate") }}</label>
                    <input type="date" min="1901-12-14" :max="new Date().toISOString().split('T')[0]" name="birthday" :id="'txtBirthdate' + _uid" :value="value.birthday" @input="emitInputEvent('birthday', $event.target.value)">
                </div>
            </div>
        {% endif %}

        {% if "billing_address.phoneNumber" in addressFields %}
            <div class="col-xs-12 col-sm-12 col-lg-12 input-unit_container">
                <div class="input-unit"
                     {% if "billing_address.phoneNumber" in addressFieldsRequired %}data-validate="text" {% endif %}data-model="telephone" id="BillingAddress_NamePrivate_Telephone">
                     <label :for="'txtTelephone' + _uid" {% if "billing_address.phoneNumber" in addressFieldsRequired %}class="form_musthave"{% endif %}>{{ trans("Ceres::Template.addressTelephone") }}</label>
                     <input type="text" name="telephone" :id="'txtTelephone' + _uid" :value="value.telephone" @input="emitInputEvent('telephone', $event.target.value)">
                </div>
            </div>
        {% endif %}

    </div>
</div>

<div class="col-xs-12" id="BillingAddress_StreetHouseNr">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-lg-12 input-unit_container">
            <div class="input-unit" data-validate="text" data-model="address1" id="BillingAddress_StreetHouseNr_StreetNr">
                <label :for="'txtStreet' + _uid" class="form_musthave">{{ trans("Ceres::Template.addressStreet") }}</label>
                <input type="text" class="first-input" name="street" autocomplete="address-line1" :id="'txtStreet' + _uid" :value="value.address1" @input="emitInputEvent('address1', $event.target.value)">
                <input type="text" class="second-input" name="housenumber" autocomplete="address-line2" :id="'txtNumber' + _uid" :value="value.address2" @input="emitInputEvent('address2', $event.target.value)">
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12" id="BillingAddress_DecorateAddress">
    <div class="row">
        {% if "billing_address.address3" in addressFields %}
            <div class="col-xs-12 col-sm-12 col-lg-12 input-unit_container">
                <div class="input-unit"
                     {% if "billing_address.address3" in addressFieldsRequired %}data-validate="text" {% endif %}data-model="address3" id="BillingAddress_DecorateAddress_Dec0">
                     <label :for="'decorateAddress0' + _uid" {% if "billing_address.address3" in addressFieldsRequired %}class="form_musthave"{% endif %}>{{ trans("Ceres::Template.addressAdditionalAddress1") }}</label>
                     <input type="text" name="decorateAddress" :id="'decorateAddress0' + _uid" :value="value.address3" @input="emitInputEvent('address3', $event.target.value)">
                </div>
            </div>
        {% endif %}

        {% if "billing_address.address4" in addressFields %}
            <div class="col-xs-12 col-sm-12 col-lg-12 input-unit_container">
                <div class="input-unit"
                     {% if "billing_address.address4" in addressFieldsRequired %}data-validate="text" {% endif %}data-model="address4" id="BillingAddress_DecorateAddress_Dec1">
                     <label :for="'decorateAddress1' + _uid" {% if "billing_address.address4" in addressFieldsRequired %}class="form_musthave"{% endif %}>{{ trans("Ceres::Template.addressAdditionalAddress2") }}</label>
                     <input type="text" name="decorateAddress" :id="'decorateAddress1' + _uid" :value="value.address4" @input="emitInputEvent('address4', $event.target.value)">
                </div>
            </div>
        {% endif %}
    </div>
</div>

<div class="col-xs-12" id="BillingAddress_Address">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-lg-12 input-unit_container">
        <div class="input-unit" data-validate="text" data-model="postalCode" id="BillingAddress_Address_ZIPTown">
            <label :for="'txtZip' + _uid" class="form_musthave">{{ trans("Ceres::Template.addressZip") }}</label>
            <input type="text" class="first-input" name="zip" :id="'txtZip' + _uid" :value="value.postalCode" @input="emitInputEvent('postalCode', $event.target.value)">
            <input type="text" class="second-input" name="town" :id="'txtPlace' + _uid" :value="value.town" @input="emitInputEvent('town', $event.target.value)">
        </div>
      </div>
    </div>
</div>

{{ LayoutContainer.show("Ceres::Checkout.CustomAddressField") }}
