{% extends getPartial('page-design') %}

{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% set showDefaultHomepage = config("Ceres.default.homepage") %}
{% set companyLogo  = config("Ceres.header.company_logo") %}
{% set companyName  = config("Ceres.header.company_name") %}

{% block PartialHead %}
    <meta name="description" content="{{ trans('CeresCoconut::Template.homepageMetaDescription') }}">
    <meta name="robots" content="{{ config("Ceres.meta.robots_home") }}">

    <meta property="og:title" content="{{ companyName }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="{{ services.webstoreConfig.getWebstoreConfig().domainSsl }}"/>
    <meta property="og:image"
          content="{% if ('http' in companyLogo) or ('layout/' in companyLogo) %}{{ companyLogo }}{% else %}{{ plugin_path('Ceres') }}/{{ companyLogo }}{% endif %}"/>

    {% if webstoreConfig.webstoreId == 4 %}
      <title>{{ trans('CeresCoconut::Template.ML_Start_Title') }} | {{ config("Ceres.header.company_name") }}</title>
    {% else %}
      <title>{{ trans('CeresCoconut::Template.ETC_Start_Title') }}  | {{ config("Ceres.header.company_name") }} </title>
    {% endif %}
{% endblock %}

{% block PageBody %}

{{ component( "Ceres::Containers.Components.ContainerStartBoxItemListETC" ) }}
{{ component( "Ceres::Containers.Components.LastSeenItemList" ) }}

{% set currentLang = services.sessionStorage.getLang() %}
{% set homepageJson = getExternalContent("https://cdn02.plentymarkets.com/pmsbpnokwu6a/plugin/production/marketingresource/js/HomepageContent.json") %}
{% set homepageData = homepageJson[currentLang] %}

{% set lang = services.sessionStorage.getLang() %}


{% if lang == 'en' %}
   {% set slider1_URL = config("CeresCoconut.homepage.sliderItemId1En")  %}
   {% set slider2_URL = config("CeresCoconut.homepage.sliderItemId2En")  %}
   {% set slider3_URL = config("CeresCoconut.homepage.sliderItemId3En")  %}

   {% set slider1 = {
   item: services.itemLoader.loadForTemplate('Ceres::Homepage.Homepage', itemLoaderPresets.items, {variationIds: [config("CeresCoconut.homepage.sliderItemId1")]}).documents[0].data,
   url: config("CeresCoconut.homepage.sliderImageUrl1En") } %}
   {% set slider2 = {
   item: services.itemLoader.loadForTemplate('Ceres::Homepage.Homepage', itemLoaderPresets.items, {variationIds: [config("CeresCoconut.homepage.sliderItemId2")]}).documents[0].data,
   url: config("CeresCoconut.homepage.sliderImageUrl2En") } %}
   {% set slider3 = {
   item: services.itemLoader.loadForTemplate('Ceres::Homepage.Homepage', itemLoaderPresets.items, {variationIds: [config("CeresCoconut.homepage.sliderItemId3")]}).documents[0].data,
   url: config("CeresCoconut.homepage.sliderImageUrl3En") } %}
{% elseif lang == 'fr' %}
   {% set slider1_URL = config("CeresCoconut.homepage.sliderItemId1Fr")  %}
   {% set slider2_URL = config("CeresCoconut.homepage.sliderItemId2Fr")  %}
   {% set slider3_URL = config("CeresCoconut.homepage.sliderItemId3Fr")  %}

   {% set slider1 = {
   item: services.itemLoader.loadForTemplate('Ceres::Homepage.Homepage', itemLoaderPresets.items, {variationIds: [config("CeresCoconut.homepage.sliderItemId1")]}).documents[0].data,
   url: config("CeresCoconut.homepage.sliderImageUrl1Fr") } %}
   {% set slider2 = {
   item: services.itemLoader.loadForTemplate('Ceres::Homepage.Homepage', itemLoaderPresets.items, {variationIds: [config("CeresCoconut.homepage.sliderItemId2")]}).documents[0].data,
   url: config("CeresCoconut.homepage.sliderImageUrl2Fr") } %}
   {% set slider3 = {
   item: services.itemLoader.loadForTemplate('Ceres::Homepage.Homepage', itemLoaderPresets.items, {variationIds: [config("CeresCoconut.homepage.sliderItemId3")]}).documents[0].data,
   url: config("CeresCoconut.homepage.sliderImageUrl3Fr") } %}
{% else %}
   {% set slider1_URL = config("CeresCoconut.homepage.sliderItemId1")  %}
   {% set slider2_URL = config("CeresCoconut.homepage.sliderItemId2")  %}
   {% set slider3_URL = config("CeresCoconut.homepage.sliderItemId3")  %}

   {% set slider1 = {
   item: services.itemLoader.loadForTemplate('Ceres::Homepage.Homepage', itemLoaderPresets.items, {variationIds: [config("CeresCoconut.homepage.sliderItemId1")]}).documents[0].data,
   url: config("CeresCoconut.homepage.sliderImageUrl1") } %}
   {% set slider2 = {
   item: services.itemLoader.loadForTemplate('Ceres::Homepage.Homepage', itemLoaderPresets.items, {variationIds: [config("CeresCoconut.homepage.sliderItemId2")]}).documents[0].data,
   url: config("CeresCoconut.homepage.sliderImageUrl2") } %}
   {% set slider3 = {
   item: services.itemLoader.loadForTemplate('Ceres::Homepage.Homepage', itemLoaderPresets.items, {variationIds: [config("CeresCoconut.homepage.sliderItemId3")]}).documents[0].data,
   url: config("CeresCoconut.homepage.sliderImageUrl3") } %}
{% endif %}

<div class="wrapper">
   <div class="content">
      <!--    <div class="container_centered">-->
      <div class="col-xs-12" id="cnt_Start">
        <div class="carousel slide" data-interval="5000" data-ride="carousel" id="carousel-example">
            <div class="carousel-inner" id="carousel-content">
                  {% if slider1_URL != "" %}
                    <div class="carousel-item text-muted active test0913">
                        <a href="{{ slider1_URL }}" title="Bild 1">
                           <picture>
                              <source media="(min-width: 992px)" srcset="{{ slider1.url }}">
                              <!-- Tablet/Desptop -->
                              <source media="(min-width: 768px)" srcset="{{ slider1.url | replace({'.jpg': '-992.jpg'}) }}">
                              <!-- Tablet/Desptop -->
                              <source media="(min-width: 480px)" srcset="{{ slider1.url | replace({'.jpg': '-768.jpg'}) }}">
                              <!-- Mobile -->
                              <source srcset="{{ slider1.url | replace({'.jpg': '-480.jpg'}) }}">
                              <!-- Fallback (Desktop) -->
                              <img class="" data-src="{{ slider1.url }}" src="{{ slider1.url }}" alt="Special">
                            </picture>
                        </a>
                        <div class="carousel-caption">
                            <h2>{% autoescape false %}{% endautoescape %}</h2>
                        </div>
                    </div>
                  {% endif %}
                  {% if slider2_URL != "" %}
                    <div class="carousel-item text-muted">
                        <a href="{{ slider2_URL }}" title="Bild 2">
                              <picture>
                                <source media="(min-width: 992px)" srcset="{{ slider2.url }}">
                                <!-- Tablet/Desptop -->
                                <source media="(min-width: 768px)" srcset="{{ slider2.url | replace({'.jpg': '-992.jpg'}) }}">
                                <!-- Tablet/Desptop -->
                                <source media="(min-width: 480px)" srcset="{{ slider2.url | replace({'.jpg': '-768.jpg'}) }}">
                                <!-- Mobile -->
                                <source srcset="{{ slider2.url | replace({'.jpg': '-480.jpg'}) }}">
                                <!-- Fallback (Desktop) -->
                                <img class="lazy-owl" data-src="{{ slider2.url }}" src="{{ slider2.url }}" alt="Special 2">
                              </picture>
                        </a>
                        <div class="carousel-caption">
                            <h2>{% autoescape false %}{% endautoescape %}</h2>
                        </div>
                    </div>
                  {% endif %}
                  {% if slider3_URL != "" %}
                      <div class="carousel-item text-muted">
                          <a href="{{ slider3_URL }}" title="Bild 3">
                                <picture>
                                  <source media="(min-width: 992px)" srcset="{{ slider3.url }}">
                                  <!-- Tablet/Desptop -->
                                  <source media="(min-width: 768px)" srcset="{{ slider3.url | replace({'.jpg': '-992.jpg'}) }}">
                                  <!-- Tablet/Desptop -->
                                  <source media="(min-width: 480px)" srcset="{{ slider3.url | replace({'.jpg': '-768.jpg'}) }}">
                                  <!-- Mobile -->
                                  <source srcset="{{ slider3.url | replace({'.jpg': '-480.jpg'}) }}">
                                  <!-- Fallback (Desktop) -->
                                  <img class="lazy-owl" data-src="{{ slider3.url }}" src="{{ slider3.url }}" alt="Special 3">
                                </picture>
                          </a>
                          <div class="carousel-caption">
                              <h2>{% autoescape false %}{% endautoescape %}</h2>
                          </div>
                      </div>
                  {% endif %}
            </div>
            <a class="left carousel-control carousel-control-prev" href="#carousel-example" data-slide="prev" title="Zurück"><i
                        class="icon-prev  fa fa-angle-left"></i></a>
            <a class="right carousel-control carousel-control-next" href="#carousel-example" data-slide="next" title="Vor"><i
                        class="icon-next fa fa-angle-right"></i></a>
        </div>
        <!--
         <div class="contentpageSlider owl-carousel owl-theme" style="opacity: 1; display: block;">
            <div class="owl-wrapper-outer">
               <div class="" style="width: 1480px; left: 0px; display: block; transform: translate3d(0px, 0px, 0px); transition: all 0ms ease 0s;">
                  <div class="owl-item" style="width: 1920px;">
                     <div class="slide slide-1">
                        <a href="https://www.etc-shop.de/audio-technik/dj-equipment/mobile-anlagen/" title="Mobile Anlagen">
                           <picture>
                              <source media="(min-width: 992px)" srcset="https://www.etc-shop.de//layout/content/kampagnen/kw01-19/content_start_slider1_1920_de.jpg">
                              <source media="(min-width: 768px)" srcset="https://www.etc-shop.de/layout/content/kampagnen/kw01-19/content_start_slider1_992_de.jpg">
                              <source media="(min-width: 480px)" srcset="https://www.etc-shop.de/layout/content/kampagnen/kw01-19/content_start_slider1_768_de.jpg">
                              <source srcset="https://www.etc-shop.de/layout/content/kampagnen/kw01-19/content_start_slider1_480_de.jpg">
                              <img class="" data-src="https://www.etc-shop.de/layout/content/kampagnen/kw01-19/content_start_slider1_1920_de.jpg" src="https://www.etc-shop.de/layout/content/kampagnen/kw01-19/content_start_slider1_1920_de.jpg">
                           </picture>
                        </a>
                     </div>
                  </div>
                  <div class="owl-item" style="width: 370px;">
                     <div class="slide slide-2">
                        <a href="https://www.etc-shop.de/lampen-moebel/leuchtmittel/?multishop_id=0&amp;group%5B0%5D=1&amp;service=selector&amp;Params%5BSearchParam%5D=&amp;count=0&amp;attrib%5BFunktion%5D%5B0%5D=Vintage&amp;first=0" title="Leuchtmittel">
                           <picture>
                              <source media="(min-width: 992px)" srcset="https://www.etc-shop.de/layout/content/kampagnen/kw01-19/content_start_slider2_1920_de.jpg">
                              <source media="(min-width: 768px)" srcset="https://www.etc-shop.de/layout/content/kampagnen/kw01-19/content_start_slider2_992_de.jpg">
                              <source media="(min-width: 480px)" srcset="https://www.etc-shop.de/layout/content/kampagnen/kw01-19/content_start_slider2_768_de.jpg">
                              <source srcset="https://www.etc-shop.de/layout/content/kampagnen/kw01-19/content_start_slider2_480_de.jpg">
                              <img class="" data-src="https://www.etc-shop.de/layout/content/kampagnen/kw01-19/content_start_slider2_1920_de.jpg" src="https://www.etc-shop.de/layout/content/kampagnen/kw01-19/content_start_slider2_1920_de.jpg">
                           </picture>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="owl-controls clickable">
               <div class="owl-pagination">
                  <div class="owl-page active">
                     <span class=""></span>
                  </div>
                  <div class="owl-page">
                     <span class=""></span>
                  </div>
               </div>
               <div class="owl-buttons">
                  <div class="owl-prev"></div>
                  <div class="owl-next"></div>
               </div>
            </div>
         </div>
       -->


      {% set itemsLastSeen = services.itemList.getItemList( "last_seen", config("CeresCoconut.homepage.cntStartDeP2B1Value"), "variation.position_asc",1 ).documents %}
      {% set itemLastSeenLbl  = trans("Ceres::Template.itemListLastSeen") %}

      {% if lang == 'en' %}
             {% if config("CeresCoconut.homepage.cntStartEnP2B1Value") != '' %}
               {% set itemsP2B1 = services.itemList.getItemList( "tag_list", config("CeresCoconut.homepage.cntStartEnP2B1Value"), "variation.position_asc",1 ).documents %}
             {% else %}
               {% set itemsP2B1 = "NULL" %}
             {% endif %}
              {% if config("CeresCoconut.homepage.cntStartEnP2B2Value") != '' %}
               {% set itemsP2B2 = services.itemList.getItemList( "tag_list", config("CeresCoconut.homepage.cntStartEnP2B2Value"), "variation.position_asc",1 ).documents %}
             {% else %}
               {% set itemsP2B2 = "NULL" %}
             {% endif %}
             {% if config("CeresCoconut.homepage.cntStartEnP2B3Value") != '' %}
               {% set itemsP2B3 = services.itemList.getItemList( "tag_list", config("CeresCoconut.homepage.cntStartEnP2B3Value"), "variation.position_asc",1 ).documents %}
             {% else %}
               {% set itemsP2B3 = "NULL" %}
             {% endif %}
             {% if config("CeresCoconut.homepage.cntStartEnP2B4Value") != '' %}
               {% set itemsP2B4 = services.itemList.getItemList( "tag_list", config("CeresCoconut.homepage.cntStartEnP2B4Value"), "variation.position_asc",1 ).documents %}
             {% else %}
               {% set itemsP2B4 = "NULL" %}
             {% endif %}

              {% set lblP2B1 = config("CeresCoconut.homepage.cntStartEnP2B1Label") %}
              {% set lblP2B2 = config("CeresCoconut.homepage.cntStartEnP2B2Label") %}
              {% set lblP2B3 = config("CeresCoconut.homepage.cntStartEnP2B3Label") %}
              {% set lblP2B4 = config("CeresCoconut.homepage.cntStartEnP2B4Label") %}

              {% set altUrlP2B1 = config("CeresCoconut.homepage.cntStartEnP2B1AltUrl") %}
              {% set altUrlP2B2 = config("CeresCoconut.homepage.cntStartEnP2B2AltUrl") %}
              {% set altUrlP2B3 = config("CeresCoconut.homepage.cntStartEnP2B3AltUrl") %}
            {% set altUrlP2B4 = config("CeresCoconut.homepage.cntStartEnP2B4AltUrl") %}
      {% elseif lang == 'fr' %}
             {% if config("CeresCoconut.homepage.cntStartFrP2B1Value") != '' %}
                 {% set itemsP2B1 = services.itemList.getItemList( "tag_list", config("CeresCoconut.homepage.cntStartFrP2B1Value"), "variation.position_asc",1 ).documents %}
              {% else %}
                 {% set itemsP2B1 = "NULL" %}
              {% endif %}
              {% if config("CeresCoconut.homepage.cntStartFrP2B2Value") != '' %}
                 {% set itemsP2B2 = services.itemList.getItemList( "tag_list", config("CeresCoconut.homepage.cntStartFrP2B2Value"), "variation.position_asc",1 ).documents %}
              {% else %}
                 {% set itemsP2B2 = "NULL" %}
              {% endif %}
              {% if config("CeresCoconut.homepage.cntStartFrP2B3Value") != '' %}
                 {% set itemsP2B3 = services.itemList.getItemList( "tag_list", config("CeresCoconut.homepage.cntStartFrP2B3Value"), "variation.position_asc",1 ).documents %}
              {% else %}
                 {% set itemsP2B3 = "NULL" %}
              {% endif %}
             {% if config("CeresCoconut.homepage.cntStartFrP2B4Value") != '' %}
                {% set itemsP2B4 = services.itemList.getItemList( "tag_list", config("CeresCoconut.homepage.cntStartFrP2B4Value"), "variation.position_asc",1 ).documents %}
             {% else %}
                {% set itemsP2B4 = "NULL" %}
             {% endif %}

            {% set lblP2B1 = config("CeresCoconut.homepage.cntStartFrP2B1Label") %}
            {% set lblP2B2 = config("CeresCoconut.homepage.cntStartFrP2B2Label") %}
            {% set lblP2B3 = config("CeresCoconut.homepage.cntStartFrP2B3Label") %}
            {% set lblP2B4 = config("CeresCoconut.homepage.cntStartFrP2B4Label") %}

            {% set altUrlP2B1 = config("CeresCoconut.homepage.cntStartFrP2B1AltUrl") %}
            {% set altUrlP2B2 = config("CeresCoconut.homepage.cntStartFrP2B2AltUrl") %}
            {% set altUrlP2B3 = config("CeresCoconut.homepage.cntStartFrP2B3AltUrl") %}
            {% set altUrlP2B4 = config("CeresCoconut.homepage.cntStartFrP2B4AltUrl") %}
      {% else %}
             {% if config("CeresCoconut.homepage.cntStartDeP2B1Value") != '' %}
                 {% set itemsP2B1 = services.itemList.getItemList( "tag_list", config("CeresCoconut.homepage.cntStartDeP2B1Value"), "variation.position_asc",1 ).documents %}
             {% else %}
                 {% set itemsP2B1 = "NULL" %}
             {% endif %}
             {% if config("CeresCoconut.homepage.cntStartDeP2B2Value") != '' %}
                 {% set itemsP2B2 = services.itemList.getItemList( "tag_list", config("CeresCoconut.homepage.cntStartDeP2B2Value"), "variation.position_asc",1 ).documents %}
             {% else %}
                 {% set itemsP2B2 = "NULL" %}
             {% endif %}
             {% if config("CeresCoconut.homepage.cntStartDeP2B3Value") != '' %}
                 {% set itemsP2B3 = services.itemList.getItemList( "tag_list", config("CeresCoconut.homepage.cntStartDeP2B3Value"), "variation.position_asc",1 ).documents %}
             {% else %}
                {% set itemsP2B3 = "NULL" %}
             {% endif %}
             {% if config("CeresCoconut.homepage.cntStartDeP2B4Value") != '' %}
                 {% set itemsP2B4 = services.itemList.getItemList( "tag_list", config("CeresCoconut.homepage.cntStartDeP2B4Value"), "variation.position_asc",1 ).documents %}
             {% else %}
                {% set itemsP2B4 = "NULL" %}
             {% endif %}

            {% set lblP2B1 = config("CeresCoconut.homepage.cntStartDeP2B1Label") %}
            {% set lblP2B2 = config("CeresCoconut.homepage.cntStartDeP2B2Label") %}
            {% set lblP2B3 = config("CeresCoconut.homepage.cntStartDeP2B3Label") %}
            {% set lblP2B4 = config("CeresCoconut.homepage.cntStartDeP2B4Label") %}

            {% set altUrlP2B1 = config("CeresCoconut.homepage.cntStartDeP2B1AltUrl") %}
            {% set altUrlP2B2 = config("CeresCoconut.homepage.cntStartDeP2B2AltUrl") %}
            {% set altUrlP2B3 = config("CeresCoconut.homepage.cntStartDeP2B3AltUrl") %}
            {% set altUrlP2B4 = config("CeresCoconut.homepage.cntStartDeP2B4AltUrl") %}
      {% endif %}

       <div class="container_centered">
         {% if itemsP2B1 != 'NULL' or itemsP2B2 != 'NULL' or itemsP2B3 != 'NULL' or itemsP2B4 != 'NULL' %}
           <div class="container_centered PromoBox col-lg-12 col-md-12 col-sm-12 col-xs-12" id="cnt_Start_Pos2">
              <div class="container">
                 {% if itemsLastSeen %}
                   <start-box-item-list class="StartBoxItemList LastSeenList col-xs-12 col-sm-6 col-lg-3" :items="{{ itemsLastSeen | json_encode }}" :label="{{ itemLastSeenLbl | json_encode }}"></start-box-item-list>
                 {% else %}
                   {% if itemsP2B1 != 'NULL' %}
                      <start-box-item-list class="StartBoxItemList col-xs-12 col-sm-12 col-lg-3" :items="{{ itemsP2B1 | json_encode }}" :label="{{ lblP2B1 | json_encode }}" :alt-url="{{ altUrlP2B1 | json_encode }}"></start-box-item-list>
                   {% endif %}
                 {% endif %}
                 {% if itemsP2B2 != 'NULL' %}
                    <start-box-item-list class="StartBoxItemList col-xs-12 col-sm-12 col-lg-3" :items="{{ itemsP2B2 | json_encode }}" :label="{{ lblP2B2 | json_encode }}" :alt-url="{{ altUrlP2B2 | json_encode }}"></start-box-item-list>
                 {% endif %}
                 {% if itemsP2B3 != 'NULL' %}
                    <start-box-item-list class="StartBoxItemList col-xs-12 col-sm-12 col-lg-3" :items="{{ itemsP2B3 | json_encode }}" :label="{{ lblP2B3 | json_encode }}" :alt-url="{{ altUrlP2B3 | json_encode }}"></start-box-item-list>
                 {% endif %}
                 {% if itemsP2B4 != 'NULL' %}
                    <start-box-item-list class="StartBoxItemList col-xs-12 col-sm-12 col-lg-3" :items="{{ itemsP2B4 | json_encode }}" :label="{{ lblP2B4 | json_encode }}" :alt-url="{{ altUrlP2B4 | json_encode }}"></start-box-item-list>
                 {% endif %}
              </div>
           </div>
        {% endif %}
        <div class="container_centered PromoBox col-lg-12 col-md-12 col-sm-12 col-xs-12" id="cnt_Start_Pos3">
          <div class="container">
            {% if lang == 'en' %}
              {% set picP3S1 = config("CeresCoconut.homepage.cntStartEnP3S1PicUrl") %}
              {% set urlP3S1 = config("CeresCoconut.homepage.cntStartEnP3S1Url") %}
              {% set altP3S1 = config("CeresCoconut.homepage.cntStartEnP3S1AltText") %}
            {% elseif lang == 'fr' %}
              {% set picP3S1 = config("CeresCoconut.homepage.cntStartFrP3S1PicUrl") %}
              {% set urlP3S1 = config("CeresCoconut.homepage.cntStartFrP3S1Url") %}
              {% set altP3S1 = config("CeresCoconut.homepage.cntStartFrP3S1AltText") %}
            {% else %}
              {% set picP3S1 = config("CeresCoconut.homepage.cntStartDeP3S1PicUrl") %}
              {% set urlP3S1 = config("CeresCoconut.homepage.cntStartDeP3S1Url") %}
              {% set altP3S1 = config("CeresCoconut.homepage.cntStartDeP3S1AltText") %}
            {% endif %}

            <a href="{{ urlP3S1 }}" title="{{ config("CeresCoconut.homepage.cntStartEnP3S1AltText") }}">

              <picture>
                <source media="(min-width: 992px)" srcset="{{ picP3S1 }}">
                <!-- Tablet/Desptop -->
                <source media="(min-width: 768px)" srcset="{{ picP3S1 | replace({'.jpg': '-992.jpg'}) }}">
                <!-- Tablet/Desptop -->
                <source media="(min-width: 480px)" srcset="{{ picP3S1 | replace({'.jpg': '-768.jpg'}) }}">
                <!-- Mobile -->
                <source srcset="{{ picP3S1 | replace({'.jpg': '-480.jpg'}) }}">
                <!-- Fallback (Desktop) -->
                <lazy-img
                    image-url="{{ picP3S1 }}"
                    alt="altP3S1">
                </lazy-img>
                <!--<img class="col-lg-12 col-md-12 col-sm-12 col-xs-12" data-src="{{ picP3S1 }}" src="{{ picP3S1 }}" alt="{{ altP3S1 }}">-->
              </picture>

            </a>
          </div>
        </div>

        {% if lang == 'en' %}
             {% if config("CeresCoconut.homepage.cntStartEnP4B1Value") != '' %}
                 {% set itemsP4B1 = services.itemList.getItemList( "tag_list", config("CeresCoconut.homepage.cntStartEnP4B1Value"), "variation.position_asc",1 ).documents %}
             {% else %}
                 {% set itemsP4B1 = "NULL" %}
             {% endif %}
             {% if config("CeresCoconut.homepage.cntStartEnP4B2Value") != '' %}
                 {% set itemsP4B2 = services.itemList.getItemList( "tag_list", config("CeresCoconut.homepage.cntStartEnP4B2Value"), "variation.position_asc",1 ).documents %}
             {% else %}
                 {% set itemsP4B3 = "NULL" %}
             {% endif %}
             {% if config("CeresCoconut.homepage.cntStartEnP4B3Value") != '' %}
                 {% set itemsP4B3 = services.itemList.getItemList( "tag_list", config("CeresCoconut.homepage.cntStartEnP4B3Value"), "variation.position_asc",1 ).documents %}
             {% else %}
                 {% set itemsP4B3 = "NULL" %}
             {% endif %}
             {% if config("CeresCoconut.homepage.cntStartEnP4B4Value") != '' %}
                 {% set itemsP4B4 = services.itemList.getItemList( "tag_list", config("CeresCoconut.homepage.cntStartEnP4B4Value"), "variation.position_asc",1 ).documents %}
             {% else %}
                 {% set itemsP4B4 = "NULL" %}
             {% endif %}

             {% set lblP4B1 = config("CeresCoconut.homepage.cntStartEnP4B1Label") %}
             {% set lblP4B2 = config("CeresCoconut.homepage.cntStartEnP4B2Label") %}
             {% set lblP4B3 = config("CeresCoconut.homepage.cntStartEnP4B3Label") %}
             {% set lblP4B4 = config("CeresCoconut.homepage.cntStartEnP4B4Label") %}

             {% set altUrlP4B1 = config("CeresCoconut.homepage.cntStartEnP4B1AltUrl") %}
             {% set altUrlP4B2 = config("CeresCoconut.homepage.cntStartEnP4B2AltUrl") %}
             {% set altUrlP4B3 = config("CeresCoconut.homepage.cntStartEnP4B3AltUrl") %}
             {% set altUrlP4B4 = config("CeresCoconut.homepage.cntStartEnP4B4AltUrl") %}
        {% elseif lang == 'fr' %}
             {% if config("CeresCoconut.homepage.cntStartFrP4B1Value") != '' %}
                 {% set itemsP4B1 = services.itemList.getItemList( "tag_list", config("CeresCoconut.homepage.cntStartFrP4B1Value"), "variation.position_asc",1 ).documents %}
             {% else %}
                 {% set itemsP4B1 = "NULL" %}
             {% endif %}
             {% if config("CeresCoconut.homepage.cntStartFrP4B2Value") != '' %}
                 {% set itemsP4B2 = services.itemList.getItemList( "tag_list", config("CeresCoconut.homepage.cntStartFrP4B2Value"), "variation.position_asc",1 ).documents %}
             {% else %}
                 {% set itemsP4B2 = "NULL" %}
             {% endif %}
             {% if config("CeresCoconut.homepage.cntStartFrP4B3Value") != '' %}
                 {% set itemsP4B3 = services.itemList.getItemList( "tag_list", config("CeresCoconut.homepage.cntStartFrP4B3Value"), "variation.position_asc",1 ).documents %}
             {% else %}
                 {% set itemsP4B3 = "NULL" %}
             {% endif %}
             {% if config("CeresCoconut.homepage.cntStartFrP4B4Value") != '' %}
                 {% set itemsP4B4 = services.itemList.getItemList( "tag_list", config("CeresCoconut.homepage.cntStartFrP4B4Value"), "variation.position_asc",1 ).documents %}
             {% else %}
                 {% set itemsP4B4 = "NULL" %}
             {% endif %}

             {% set lblP4B1 = config("CeresCoconut.homepage.cntStartFrP4B1Label") %}
             {% set lblP4B2 = config("CeresCoconut.homepage.cntStartFrP4B2Label") %}
             {% set lblP4B3 = config("CeresCoconut.homepage.cntStartFrP4B3Label") %}
             {% set lblP4B4 = config("CeresCoconut.homepage.cntStartFrP4B4Label") %}

             {% set altUrlP4B1 = config("CeresCoconut.homepage.cntStartFrP4B1AltUrl") %}
             {% set altUrlP4B2 = config("CeresCoconut.homepage.cntStartFrP4B2AltUrl") %}
             {% set altUrlP4B3 = config("CeresCoconut.homepage.cntStartFrP4B3AltUrl") %}
             {% set altUrlP4B4 = config("CeresCoconut.homepage.cntStartFrP4B4AltUrl") %}
        {% else %}
             {% if config("CeresCoconut.homepage.cntStartDeP4B1Value") != '' %}
                 {% set itemsP4B1 = services.itemList.getItemList( "tag_list", config("CeresCoconut.homepage.cntStartDeP4B1Value"), "variation.position_asc",1 ).documents %}
             {% else %}
                 {% set itemsP4B1 = "NULL" %}
             {% endif %}
             {% if config("CeresCoconut.homepage.cntStartDeP4B2Value") != '' %}
                 {% set itemsP4B2 = services.itemList.getItemList( "tag_list", config("CeresCoconut.homepage.cntStartDeP4B2Value"), "variation.position_asc",1 ).documents %}
             {% else %}
                 {% set itemsP4B2 = "NULL" %}
             {% endif %}
             {% if config("CeresCoconut.homepage.cntStartDeP4B3Value") != '' %}
                 {% set itemsP4B3 = services.itemList.getItemList( "tag_list", config("CeresCoconut.homepage.cntStartDeP4B3Value"), "variation.position_asc",1 ).documents %}
             {% else %}
                 {% set itemsP4B3 = "NULL" %}
             {% endif %}
             {% if config("CeresCoconut.homepage.cntStartDeP4B4Value") != '' %}
                 {% set itemsP4B4 = services.itemList.getItemList( "tag_list", config("CeresCoconut.homepage.cntStartDeP4B4Value"), "variation.position_asc",1 ).documents %}
             {% else %}
                 {% set itemsP4B4 = "NULL" %}
             {% endif %}

             {% set lblP4B1 = config("CeresCoconut.homepage.cntStartDeP4B1Label") %}
             {% set lblP4B2 = config("CeresCoconut.homepage.cntStartDeP4B2Label") %}
             {% set lblP4B3 = config("CeresCoconut.homepage.cntStartDeP4B3Label") %}
             {% set lblP4B4 = config("CeresCoconut.homepage.cntStartDeP4B4Label") %}

             {% set altUrlP4B1 = config("CeresCoconut.homepage.cntStartDeP4B1AltUrl") %}
             {% set altUrlP4B2 = config("CeresCoconut.homepage.cntStartDeP4B2AltUrl") %}
             {% set altUrlP4B3 = config("CeresCoconut.homepage.cntStartDeP4B3AltUrl") %}
             {% set altUrlP4B4 = config("CeresCoconut.homepage.cntStartDeP4B4AltUrl") %}
        {% endif %}

        {% if itemsP4B1 != 'NULL' or itemsP4B2 != 'NULL' or itemsP4B3 != 'NULL' or itemsP4B4 != 'NULL' %}
          <div class="container_centered PromoBox col-lg-12 col-md-12 col-sm-12 col-xs-12" id="cnt_Start_Pos4">
               <div class="container">
                  {% if itemsP4B1 != 'NULL' %}
                      <start-box-item-list class="StartBoxItemList col-sm-6 col-lg-3" :items="{{ itemsP4B1 | json_encode }}" :label="{{ lblP4B1 | json_encode }}" :alt-url="{{ altUrlP4B1 | json_encode }}"></start-box-item-list>
                  {% endif %}
                  {% if itemsP4B2 != 'NULL' %}
                      <start-box-item-list class="StartBoxItemList col-sm-6 col-lg-3" :items="{{ itemsP4B2 | json_encode }}" :label="{{ lblP4B2 | json_encode }}" :alt-url="{{ altUrlP4B2 | json_encode }}"></start-box-item-list>
                  {% endif %}
                  {% if itemsP4B3 != 'NULL' %}
                      <start-box-item-list class="StartBoxItemList col-sm-6 col-lg-3" :items="{{ itemsP4B3 | json_encode }}" :label="{{ lblP4B3 | json_encode }}" :alt-url="{{ altUrlP4B3 | json_encode }}"></start-box-item-list>
                  {% endif %}
                  {% if itemsP4B4 != 'NULL' %}
                      <start-box-item-list class="StartBoxItemList col-sm-6 col-lg-3" :items="{{ itemsP4B4 | json_encode }}" :label="{{ lblP4B4 | json_encode }}" :alt-url="{{ altUrlP4B4 | json_encode }}"></start-box-item-list>
                  {% endif %}
               </div>
           </div>
        {% endif %}
         <div class="container_centered" id="cnt_Start_SEO">
            <div class="container">
               <div class="row">
                  <div class="col-lg-12 p-0">
                     <h2>
                      {% if webstoreConfig.webstoreId == 4 %}
                        {{ trans("CeresCoconut::Template.ML_Start_SEOHead") | raw }}
                      {% else %}
                        {{ trans("CeresCoconut::Template.ETC_Start_SEOHead") | raw }}
                      {% endif %}
                     </h2>
                     <div class="textWrapper">
                        <p>
                          {% if webstoreConfig.webstoreId == 4 %}
                           {{ trans("CeresCoconut::Template.ML_Start_SEOText") | raw }}
                          {% else %}
                           {{ trans("CeresCoconut::Template.ETC_Start_SEOText") | raw }}
                          {% endif %}
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
    </div>
   </div>
</div>
</div>


{% endblock %}
