{% extends getPartial('page-design') %}

{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% set showDefaultHomepage = config("Ceres.default.homepage") %}
{% set companyLogo  = config("Ceres.header.company_logo") %}
{% set companyName  = config("Ceres.header.company_name") %}

{% block PartialHead %}
    <meta name="description" content="{{ trans('CeresCoconut::Template.homepageMetaDescription') }}">
    <meta name="robots" content="{{ config("Ceres.meta.robots_home") }}">

    <meta property="og:title" content="{{ companyName }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:url" content="{{ services.webstoreConfig.getWebstoreConfig().domainSsl }}"/>
    <meta property="og:image"
          content="{% if ('http' in companyLogo) or ('layout/' in companyLogo) %}{{ companyLogo }}{% else %}{{ plugin_path('Ceres') }}/{{ companyLogo }}{% endif %}"/>

    <script type="application/ld+json">
        {"@context": "http://schema.org","@type": "WebSite","url": "{{ services.webstoreConfig.getWebstoreConfig().domainSsl }}","potentialAction":{"@type": "SearchAction","target": "{{ services.webstoreConfig.getWebstoreConfig().domainSsl }}/search?query={search_term}","query-input": "required name=search_term"}}
    </script>

    {% if webstoreConfig.webstoreId == 4 %}
      <title>{{ companyName }} - {{ trans('CeresCoconut::Template.ML_Start_Title') }} </title>
    {% else %}
      <title>{{ trans('CeresCoconut::Template.ETC_Start_Title') }} </title>
    {% endif %}
    <style>
      .h3,h2,h3{margin:12px 0 12px 0!important;font-family:inherit!important;font-weight:300!important;line-height:24px!important;color:inherit!important}a,body{color:#464646!important}body{background-color:#fff;font:lighter 12px 'Hind Guntur',sans-serif!important;margin:0 auto 0 auto!important;min-width:260px;padding:0}body>#vue-app{background-color:#fff!important}div.row{display:block;float:left;margin:0;width:100%}#headicons{float:left;padding-right:0!important}.col-lg-12,.col-lg-2,.col-lg-3,.col-lg-5,.col-md-12,.col-md-3,.col-md-4,.col-md-5,.col-sm-12,.col-sm-3,.col-sm-4,.col-sm-5,.col-sm-6{float:left}div.modal-header{margin:15px 15px 0 15px}.carousel-control>i{font-size:5em}.modal-body{float:left;width:100%}#cnt_Start_SEO{float:left;line-height:1.3;margin-top:35px;padding:0 15px}div.content{border-top:0;padding:0;width:100%}#easycredit_banner{position:fixed;right:0;bottom:10px;margin-bottom:180px;color:#000;font-style:normal;z-index:2147483645!important;box-sizing:border-box}html{font-size:12px!important}.wrapper-top{height:auto!important;margin-top:10%!important;z-index:999999999!important}#ServiceCenterContainer{margin-top:19px}.ToolButton>i{float:left;margin-left:20px;margin-top:-7px!important}#subcat_1064{margin-left:-502px!important}#subcat_460{margin-left:-591px!important}#subcat_337{margin-left:-548px!important}.catLvl1:first-child>.subcat_container{margin-left:-15px!important}.mainNavigation{font:400 1.25em 'Hind Guntur',sans-serif;height:32px;line-height:1.5!important}#logocontainer{margin-top:0!important;padding-left:15px!important;padding-top:15px!important}.back-to-top{background-color:#41cfff!important;border:0!important;bottom:1rem!important;right:1rem!important}.modal-content .btn-secondary{background-color:#494949!important;border:0;color:#fff;float:left;height:30px;padding-top:9px}#login-modal-wrapper .modal-header{margin-right:15px}.modal-header{border-bottom:3px solid #41cfff;color:#41cfff!important;font-weight:500!important;margin:15px 15px 0;padding:15px 0 0 0!important}.modal-title{color:#4d4f4d!important;margin-bottom:0!important}.navbar-toggler{position:relative!important;transform:none!important;margin-left:10px;font-size:2.5em!important}#ServiceTelefon{clear:both;float:right;font-size:1.1em;margin:auto 0;padding-top:4px;width:63%}#logo_bg>a{padding:10% 50%}#LanguageSelector .Lang_Text{margin-top:5px;text-transform:uppercase}.PromoBox{margin-top:15px!important;padding-left:5px}#cnt_Start_Pos3{padding-left:15px}#cnt_Start_Pos3 img{padding:0!important}#logo_bg{background:url(/layout/content/base/etc_logo.png) no-repeat;background-size:100%!important;height:25px;width:185px}.catLvl1>a{text-transform:uppercase}input{outline-width:0}.wrapper{overflow:hidden}.modal-header{border:0}.modal-content{border-radius:0}.header{background:linear-gradient(to top,#f0f0f0,#fff)}.textinput{border-left:5px solid #41cfff;border-right:1px solid #bbb;border-top:1px solid #bbb;border-bottom:1px solid #bbb;box-sizing:border-box;float:left;height:24px;margin-left:0;padding:0 0 0 10px!important;font-size:14px}.submitinput{background-color:#595959;border:1px solid #595959;color:#fff;display:block;float:left;font-family:"'Hind Guntur'",sans-serif;height:24px;margin-left:-6px;padding:2px 0 0 0!important;width:37px}#SearchFormContainer{margin-top:17px;padding-left:50px}.ToolButton{background-color:#eee;float:right;font-size:1.2em;height:39px;margin-left:10px;padding-top:20px;padding-left:10px;text-align:center;width:150px}.ToolButton_small{line-height:1.1;overflow:hidden;padding:6px 0 0 2px;width:48px!important}#Lang_Choice,#Lang_Choice>div>.active{display:none}#Lang_Choice>div{height:48px;margin-left:0!important;margin-top:3px!important;padding-top:5px}#Lang_Choice{background-color:#eee;height:100px;margin-left:-1px;margin-top:-12px;padding-top:8px;position:absolute;top:50px;width:48px;z-index:1000000}.ToolButton>div:first-child{float:left;margin-left:10px!important;margin-top:-2px!important}.BasketEmpty{color:#464646}#ServiceCenterButtonIcon,.BasketFull,.BasketFull+#BasketQuantity{color:#41cfff}#BasketQuantity{float:left;font-size:.8em;font-weight:700;margin-top:-7px}.headicon_toolbox_container_inactive{display:none!important}.headicon_toolbox_container{margin-left:-24px;margin-top:19px;position:absolute;width:300px;z-index:1000000}.headicon_toolbox{background-color:#eee;box-shadow:4px 23px 25px rgba(0,0,0,.5);float:left;padding:20px;width:300px}#ServiceCenterBox{font-weight:300;margin-left:14px;padding-left:0;padding-right:0;text-align:left;width:150px}#ServiceCenterContent{list-style:none;margin-bottom:0;padding-left:0}#ServiceCenterContent>a>li::before{color:#464646;content:"•";font-size:.8em;margin-right:10px;padding-left:20px}#ServiceCenterContent>a>li{height:40px;line-height:2;margin-bottom:10px;padding-top:8px}#ServiceCenterContent>a:last-child>li{margin-bottom:0!important}.wrapper-main nav.navbar{background-color:#fff;border:0;display:block;font-family:"'Hind Guntur'",sans-serif;height:32px;margin-top:0}.menu_bargain>a{color:#41cfff!important}img{border:0}.catLvl1{font-weight:400}.catLvl1,.catinfo,.catpic,.subcat{float:left}.catLvl1{font-size:.93em;height:32px;padding:8px 10px 0 15px}.catLvl2{color:#3a3a3a;height:39px;padding:10px 15px}.catLvl2{position:static}.catpic,.sub2cat,.subcat_container{position:absolute}.subcat_container{background-color:#eee;border-top:5px solid #41cfff;box-shadow:4px 10px 25px rgba(0,0,0,.5);display:none;height:600px;margin-left:-15px;margin-top:4px;overflow:hidden;width:644px;z-index:1000}.NavigationArrow{float:left;font-size:7px;margin:0 15px;padding-top:6px}.catLvl2 .NavigationArrow{margin-left:0;margin-right:15px;padding-top:0}.sub2cat,.subcat{padding-top:10px}.subcat{width:246px}.sub2cat{background-color:#fff;display:none;margin-left:230px;height:100%;top:0;width:237px;z-index:1}.catinfo{background-color:#fff;box-shadow:4px 6px 12px rgba(0,0,0,.5);color:#3a3a3a;height:100%;left:243px;line-height:1;overflow:hidden;padding:15px;width:236px}.mainNavigation a{color:#3a3a3a;font-weight:lighter}.Category_Link>li{list-style:none}.textinput{font-family:"'Hind Guntur'",sans-serif}div.container{display:block!important;margin:0!important;max-width:none!important;padding:0!important;width:100%!important}.footerbox{border-left:3px solid;float:left;font-size:1.1em;height:250px;line-height:2;padding-left:15px!important}.wrapper-main>.content{border-top:5px solid #41cfff;width:100%}#cnt_Start{padding:0}@media (min-width:1200px){.col-lg-12{float:left;width:100%}.hidden-lg-up{display:none!important}.NavigationArrow{margin-top:7px!important}.header{background:#fff;background:-moz-linear-gradient(top,#fff 0,#f0f0f0 100%);background:-webkit-linear-gradient(top,#fff 0,#f0f0f0 100%);background:linear-gradient(to bottom,#fff 0,#f0f0f0 100%);height:68px;padding-left:0!important;padding-right:0!important}.StartBoxItemList{padding-left:0!important}#footer9,.hidden-lg{display:none!important}.submitpic{display:none}.container_centered{width:1200px;margin:auto}.container{max-width:1200px!important;width:1200px!important}.footerbox{min-width:300px!important}.navigation{line-height:24px}#SearchFormContainer{padding-left:50px!important}.textinput{width:320px!important}#ServiceCenterButtonIcon{margin-left:10px!important}#BasketQuantity{margin-top:-12px}.nav-main>form{display:none!important}}@media (min-width:992px) and (max-width:1199px){#cnt_Start_Pos4{height:335px}div.header{padding-right:0!important}div.content{clear:both;float:left;height:100%}div#headicons{padding-right:15px!important}.col-lg-12{float:left;width:100%}.hidden-lg-up{display:none!important}div.catLvl1{padding:7px 0 0 0!important}div.catLvl1:first-child{padding-left:15px!important}.NavigationArrow>i.material-icons{display:none}.hidden-lg{display:none}#footer9,.catLvl1~.NavigationArrow i{display:none!important}.header{background:linear-gradient(to top,#f0f0f0,#fff);height:68px;padding-left:0!important}#SearchFormContainer{padding-left:120px!important}.StartBoxItemList{padding-left:0!important}.subcat_container{margin-top:5px;margin-left:0}.catLvl2>.NavigationArrow{padding-top:6px}.catLvl1~.NavigationArrow{padding-top:11px}.submitpic{display:none!important}#SearchFormContainer,#logocontainer{padding-left:20px}.textinput{width:233px}.ToolButton{width:150px}.ToolButton>div:first-child{margin-left:0!important}#BasketButtonIcon{margin-left:10px!important}#ServiceCenterButtonIcon{margin-left:3px!important}#BasketQuantity{margin-top:-12px}.footerbox{border-left:3px solid;border-top:3px solid;font-size:1em;height:270px}.submitpic{display:none}.container_centered{margin:auto}.navigation{clear:both;float:left;height:32px}#logocontainer{margin-top:15px}.ToolButton_small>div:first-child{margin-left:10px!important}.catLvl2 .NavigationArrow{padding-top:6px}.nav-main>form{display:none!important}}@media (min-width:768px) and (max-width:991px){#cnt_Start_Pos3{height:145px!important}div.header{padding-right:0!important}div#headicons{padding-right:15px!important}#btnMainMenuToggler{font-size:2.2em!important;height:50px;margin-left:0!important;padding-bottom:0!important;padding-left:15px;padding-top:0!important;right:0;top:4%!important;width:40px}div.container{padding-left:15px!important;padding-right:15px!important}.textinput_mobile{margin-left:0;padding-left:0;padding-top:7px;height:44px!important;margin-top:0;width:93%!important}.headicon_toolbox_container{top:24px!important}div#logo_bg{width:165px!important}.hidden-xs{display:none!important}.navigation .submitpic{background-color:#fff;float:right;margin-top:2px;margin-right:5px}.navigation .textinput_mobile{border:0!important}.header{height:50px;padding-left:0!important}#headicons{float:right!important}.navigation{float:left;height:61px;width:100%}.icon-bar::before{color:#fff;content:"•";font-size:16px;margin-left:-15px;margin-top:-6px;position:absolute}.icon-bar{background-color:#464646;border-radius:1px;display:block;margin-top:5px;height:7px;width:35px}form.search_form{border:1px solid #bbb;float:right;height:46px!important;margin:5px 15px 5px 0!important;width:90%}.PromoBox{float:left!important;padding-left:5px;height:100%}.StartBoxItemList{padding-left:0!important}.subcat_container{margin-left:-17px;margin-top:1px}.ToolButton{height:40px;margin-left:30px;width:40px}#ServiceCenterButton{padding-left:5px}#BasketButton{padding-left:1px}#SearchFormContainer{margin-top:0}.textinput_mobile{background-color:#fff!important;border-color:#bbb #bbb #bbb #41cfff;border-image:none;border-style:solid;border-width:1px 0 1px 5px;float:right;font-size:1.5em;height:40px;margin-top:0!important;padding-left:15px;padding-top:4px;width:40%}.content{clear:both;padding:0!important}#ServiceCenterButtonIcon{color:#41cfff;margin-left:4px}#BasketButtonIcon{margin-left:3px!important}#BasketQuantity{margin-top:-12px}#ServiceCenterContainer{margin-left:-129px}.footerbox{border-top:3px solid;border-left:3px solid;font-size:1em;height:270px}.catLvl2>.NavigationArrow{padding-top:6px}.submitinput{float:left;display:block}.submitpic{display:none}.submitinput{background-color:#595959;border:1px solid #595959;color:#fff;font-family:Aileron;height:24px;margin-left:-6px;padding:0;width:37px}.submitpic{float:right}.submitpic{background:#fff url(/images/resp/suchen.png) no-repeat center center;margin-top:3px;background-size:70%;border:0;display:block;height:40px;width:40px}#logocontainer{margin-top:15px}.ToolButton_small>div:first-child{margin-top:0!important}.header .submitinput{margin-left:-1px;margin-top:13px}#SearchFormContainer>form{padding:0;float:left;width:100%;margin:0}.textinput{font-size:14px;float:left;margin-top:13px;width:75%}.catLvl2 .NavigationArrow{padding-top:6px}}@media (min-width:480px) and (max-width:767px){div#headicons{padding-right:15px!important}#btnMainMenuToggler{height:50px;margin-left:0;margin-top:0;padding-left:15px;right:0;top:0;width:40px}div.navigation form.search_form{margin:5px 0 5px 0!important}div.navigation .nav-main{padding:0 15px 0 0}div.container{padding-left:15px!important;padding-right:15px!important}.textinput_mobile{margin-left:5px;padding-top:7px;height:44px!important;margin-top:0;width:75%!important}.headicon_toolbox_container{top:24px!important}div#logo_bg{width:165px!important}.hidden-xs{display:none!important}.wrapper>.content{padding:0!important}.container{padding-left:15px!important;padding-right:15px!important}.container{max-width:none!important}#headicons{float:right;height:100px}.modal-dialog{box-shadow:4px 5px 25px rgba(0,0,0,.5)!important}.icon-bar::before{color:#fff;content:"•";margin-left:-15px;font-size:16px;margin-top:-6px;position:absolute}.icon-bar{background-color:#464646;border-radius:1px;display:block;margin-top:5px;height:7px;width:35px}.navigation{float:left;height:61px;margin-top:0;width:100%}.PromoBox>.container{padding-left:0!important}form.search_form{border:1px solid #bbb;float:right;height:46px!important;margin:5px 5px 5px 0!important;width:86%}.PromoBox{float:left!important;height:100%}.StartBoxItemList{padding-left:0!important}.Lang_Text{display:none}.ToolButton{height:40px;width:40px}#BasketButtonIcon{margin-left:-4px}#BasketQuantity{margin-top:-13px}#ServiceCenterButtonIcon{margin-left:0}.textinput_mobile{border:0;margin-left:-17%;padding-top:7px;height:44px!important;margin-top:0;width:70%;background-color:#fff!important;border-color:#bbb #bbb #bbb #41cfff;border-image:none;border-style:solid;border-width:1px 0 1px 5px;float:right;font-size:1.5em;height:40px!important;margin-left:0;margin-top:3px!important;padding-left:15px;padding-top:4px}.content{clear:both;float:left;padding-left:10px!important}.header .submitinput{display:none}.footerbox{border-left:3px solid;border-top:3px solid;font-size:1em;height:270px;line-height:2.3}.catinfo{display:none}#logocontainer{margin-top:15px}#cnt_Start_SEO h3{font-size:1.3em;line-height:1.3}#ServiceCenterContainer{margin-left:-134px}#LanguageSelector>div>a:first-child{display:block}#LanguageSelector>div>a:last-child{display:none}.ToolButton_small>div:first-child{margin-left:5px!important;margin-top:9px!important}.header{float:left;height:50px;width:100%}.submitpic,.textinput_mobile{font-size:1.6em;margin-top:0}.nav-main>form,form.search_form{border:1px solid #bbb;float:right;height:46px!important;margin:5px 5px 5px 0!important;width:88%}.submitpic{background:#fff url(/images/resp/suchen.png) no-repeat center center;margin-top:3px;border-color:#bbb;border-width:1px 1px 1px 0;border-style:solid;background-size:70%;clear:both;display:block;height:40px;float:right;width:50px}.nav-main>form{border:0!important}}@media (max-width:479px){.ToolButton>i{margin-left:-2px!important}div#headicons{padding-right:15px!important}#btnMainMenuToggler{height:50px;margin-left:-2px;margin-top:0;padding-left:15px;right:0;top:0;width:40px}div.navigation form.search_form{margin:5px 0 5px 0!important}div.navigation .nav-main{padding:0 15px 0 0}div.container{padding-left:15px!important;padding-right:15px!important}.textinput_mobile{height:44px!important;margin-left:5px;margin-top:0;padding-top:7px;width:75%!important}.headicon_toolbox_container{margin-left:0;top:24px!important}div#logo_bg{width:165px!important}#cnt_Start_SEO{padding:0!important}.hidden-xs{display:none!important}.modal-body{padding:15px 15px 15px 0!important}.modal-dialog{box-shadow:4px 5px 25px rgba(0,0,0,.5)!important}.wrapper>div.content{padding:0!important}.icon-bar::before{color:#fff;content:"•";margin-left:-15px;font-size:16px;margin-top:-6px;position:absolute}.icon-bar{background-color:#464646;border-radius:1px;display:block;margin-top:5px;height:7px;width:35px}#logocontainer{margin-top:15px;padding-left:15px!important}.container{max-width:none!important;padding-left:10px!important;padding-right:10px!important}.navigation{float:left;height:61px!important;width:100%}#logo_bg>a{padding-left:165px}.PromoBox>.container{padding-left:0!important}.nav-main>form{border:0!important;float:right;height:46px!important;margin:5px 5px 5px 0!important;width:85%}.PromoBox{float:left;height:100%}.StartBoxItemList{padding-left:0!important}.submitpic{float:right}.Lang_Text{display:none}.ToolButton_small{padding:6px 0 0 2px;width:40px!important}.ToolButton_small>div:first-child{margin-left:1px!important;margin-top:9px!important}.ToolButton{height:40px;margin-left:5px;width:40px}#Lang_Choice{margin-left:-2px!important;margin-top:-12px!important;width:40px!important}#LanguageSelector>div>a:first-child{display:block}#LanguageSelector>div>a:last-child{display:none}.submitpic,.textinput_mobile{border:0;font-size:1.6em;margin-top:0}.submitpic{background:#fff url(/images/resp/suchen.png) no-repeat center center;margin-top:3px;border-color:#bbb;border-width:1px 1px 1px 0;border-style:solid;background-size:70%;clear:both;display:block;height:40px;width:50px}.content{clear:both;float:left;padding-left:10px!important;padding-right:10px}.footerbox{border-left:3px solid;border-top:3px solid;font-size:.9em;height:270px;padding-left:15px!important}#headicons{height:50px}#ServiceCenterContainer{left:16px;margin-top:29px}#BasketQuantity{margin-left:21px;margin-top:-29px}.headicon_toolbox_container_inactive{display:none!important}#cnt_Start_SEO h3{font-size:1.3em;line-height:1.3}.header{float:left;height:50px;width:100%}.textinput_mobile{margin-left:-10%;margin-left:-17%;padding-top:7px;height:44px!important;margin-top:0;width:70%;background-color:#fff!important;border-color:#bbb #bbb #bbb #41cfff;border-image:none;border-style:solid;border-width:1px 0 1px 5px;float:right;font-size:1.5em;height:40px!important;margin-left:0;margin-top:3px!important;padding-left:15px;padding-top:4px}}
    </style>
{% endblock %}

{% block PageBody %}

{{ component( "Ceres::Containers.Components.ContainerStartBoxItemListETC" ) }}
{{ component( "Ceres::Containers.Components.LastSeenItemList" ) }}

{% set currentLang = services.sessionStorage.getLang() %}
{% set homepageJson = getExternalContent("https://cdn02.plentymarkets.com/pmsbpnokwu6a/plugin/production/marketingresource/js/HomepageContent.json") %}
{% set homepageData = homepageJson[currentLang] %}

{% set lang = services.sessionStorage.getLang() %}


{% if lang == 'en' %}
   {% set slider1_URL = config("CeresCoconut.homepage.sliderItemId1En")  %}
   {% set slider2_URL = config("CeresCoconut.homepage.sliderItemId2En")  %}
   {% set slider3_URL = config("CeresCoconut.homepage.sliderItemId3En")  %}

   {% set slider1 = {
   item: services.itemLoader.loadForTemplate('Ceres::Homepage.Homepage', itemLoaderPresets.items, {variationIds: [config("CeresCoconut.homepage.sliderItemId1")]}).documents[0].data,
   url: config("CeresCoconut.homepage.sliderImageUrl1En") } %}
   {% set slider2 = {
   item: services.itemLoader.loadForTemplate('Ceres::Homepage.Homepage', itemLoaderPresets.items, {variationIds: [config("CeresCoconut.homepage.sliderItemId2")]}).documents[0].data,
   url: config("CeresCoconut.homepage.sliderImageUrl2En") } %}
   {% set slider3 = {
   item: services.itemLoader.loadForTemplate('Ceres::Homepage.Homepage', itemLoaderPresets.items, {variationIds: [config("CeresCoconut.homepage.sliderItemId3")]}).documents[0].data,
   url: config("CeresCoconut.homepage.sliderImageUrl3En") } %}
{% elseif lang == 'fr' %}
   {% set slider1_URL = config("CeresCoconut.homepage.sliderItemId1Fr")  %}
   {% set slider2_URL = config("CeresCoconut.homepage.sliderItemId2Fr")  %}
   {% set slider3_URL = config("CeresCoconut.homepage.sliderItemId3Fr")  %}

   {% set slider1 = {
   item: services.itemLoader.loadForTemplate('Ceres::Homepage.Homepage', itemLoaderPresets.items, {variationIds: [config("CeresCoconut.homepage.sliderItemId1")]}).documents[0].data,
   url: config("CeresCoconut.homepage.sliderImageUrl1Fr") } %}
   {% set slider2 = {
   item: services.itemLoader.loadForTemplate('Ceres::Homepage.Homepage', itemLoaderPresets.items, {variationIds: [config("CeresCoconut.homepage.sliderItemId2")]}).documents[0].data,
   url: config("CeresCoconut.homepage.sliderImageUrl2Fr") } %}
   {% set slider3 = {
   item: services.itemLoader.loadForTemplate('Ceres::Homepage.Homepage', itemLoaderPresets.items, {variationIds: [config("CeresCoconut.homepage.sliderItemId3")]}).documents[0].data,
   url: config("CeresCoconut.homepage.sliderImageUrl3Fr") } %}
{% else %}
   {% set slider1_URL = config("CeresCoconut.homepage.sliderItemId1")  %}
   {% set slider2_URL = config("CeresCoconut.homepage.sliderItemId2")  %}
   {% set slider3_URL = config("CeresCoconut.homepage.sliderItemId3")  %}

   {% set slider1 = {
   item: services.itemLoader.loadForTemplate('Ceres::Homepage.Homepage', itemLoaderPresets.items, {variationIds: [config("CeresCoconut.homepage.sliderItemId1")]}).documents[0].data,
   url: config("CeresCoconut.homepage.sliderImageUrl1") } %}
   {% set slider2 = {
   item: services.itemLoader.loadForTemplate('Ceres::Homepage.Homepage', itemLoaderPresets.items, {variationIds: [config("CeresCoconut.homepage.sliderItemId2")]}).documents[0].data,
   url: config("CeresCoconut.homepage.sliderImageUrl2") } %}
   {% set slider3 = {
   item: services.itemLoader.loadForTemplate('Ceres::Homepage.Homepage', itemLoaderPresets.items, {variationIds: [config("CeresCoconut.homepage.sliderItemId3")]}).documents[0].data,
   url: config("CeresCoconut.homepage.sliderImageUrl3") } %}
{% endif %}

<div class="wrapper">
   <div class="content">
     <div style="display: none">
       {% set CookieStatusSession = services.sessionStorage.getSessionValue("sessionCookieStatus") %}
       1. CookieStatus Session: {{ CookieStatusSession }}<br>
       <br>
       {% set CookieStatusSession = services.sessionStorage.getSessionValue("sessionCookieStatus") %}
       2. CookieStatus Session: {{ CookieStatusSession }}
     </div>
      <!--    <div class="container_centered">-->
      <div class="col-xs-12" id="cnt_Start">
        <div class="carousel slide" data-interval="5000" data-ride="carousel" id="carousel-example">
            <div class="carousel-inner" id="carousel-content">
                  {% if slider1_URL != "" %}
                    <div class="carousel-item text-muted active test0913">
                        <a href="{{ slider1_URL }}" title="Bild 1">
                           <picture>
                              <source media="(min-width: 992px)" srcset="{{ slider1.url }}">
                              <!-- Tablet/Desptop -->
                              <source media="(min-width: 768px)" srcset="{{ slider1.url | replace({'.jpg': '-992.jpg'}) }}">
                              <!-- Tablet/Desptop -->
                              <source media="(min-width: 480px)" srcset="{{ slider1.url | replace({'.jpg': '-768.jpg'}) }}">
                              <!-- Mobile -->
                              <source srcset="{{ slider1.url | replace({'.jpg': '-480.jpg'}) }}">
                              <!-- Fallback (Desktop) -->
                              <img class="" data-src="{{ slider1.url }}" src="{{ slider1.url }}">
                            </picture>
                        </a>
                        <div class="carousel-caption">
                            <h2>{% autoescape false %}{% endautoescape %}</h2>
                        </div>
                    </div>
                  {% endif %}
                  {% if slider2_URL != "" %}
                    <div class="carousel-item text-muted">
                        <a href="{{ slider2_URL }}" title="Bild 2">
                              <picture>
                                <source media="(min-width: 992px)" srcset="{{ slider2.url }}">
                                <!-- Tablet/Desptop -->
                                <source media="(min-width: 768px)" srcset="{{ slider2.url | replace({'.jpg': '-992.jpg'}) }}">
                                <!-- Tablet/Desptop -->
                                <source media="(min-width: 480px)" srcset="{{ slider2.url | replace({'.jpg': '-768.jpg'}) }}">
                                <!-- Mobile -->
                                <source srcset="{{ slider2.url | replace({'.jpg': '-480.jpg'}) }}">
                                <!-- Fallback (Desktop) -->
                                <img class="lazy-owl" data-src="{{ slider2.url }}" src="{{ slider2.url }}">
                              </picture>
                        </a>
                        <div class="carousel-caption">
                            <h2>{% autoescape false %}{% endautoescape %}</h2>
                        </div>
                    </div>
                  {% endif %}
                  {% if slider3_URL != "" %}
                      <div class="carousel-item text-muted">
                          <a href="{{ slider3_URL }}" title="Bild 3">
                                <picture>
                                  <source media="(min-width: 992px)" srcset="{{ slider3.url }}">
                                  <!-- Tablet/Desptop -->
                                  <source media="(min-width: 768px)" srcset="{{ slider3.url | replace({'.jpg': '-992.jpg'}) }}">
                                  <!-- Tablet/Desptop -->
                                  <source media="(min-width: 480px)" srcset="{{ slider3.url | replace({'.jpg': '-768.jpg'}) }}">
                                  <!-- Mobile -->
                                  <source srcset="{{ slider3.url | replace({'.jpg': '-480.jpg'}) }}">
                                  <!-- Fallback (Desktop) -->
                                  <img class="lazy-owl" data-src="{{ slider3.url }}" src="{{ slider3.url }}">
                                </picture>
                          </a>
                          <div class="carousel-caption">
                              <h2>{% autoescape false %}{% endautoescape %}</h2>
                          </div>
                      </div>
                  {% endif %}
            </div>
            <a class="left carousel-control carousel-control-prev" href="#carousel-example" data-slide="prev" title="Zurück"><i
                        class="icon-prev  fa fa-angle-left"></i></a>
            <a class="right carousel-control carousel-control-next" href="#carousel-example" data-slide="next" title="Vor"><i
                        class="icon-next fa fa-angle-right"></i></a>
        </div>
        <!--
         <div class="contentpageSlider owl-carousel owl-theme" style="opacity: 1; display: block;">
            <div class="owl-wrapper-outer">
               <div class="" style="width: 1480px; left: 0px; display: block; transform: translate3d(0px, 0px, 0px); transition: all 0ms ease 0s;">
                  <div class="owl-item" style="width: 1920px;">
                     <div class="slide slide-1">
                        <a href="https://www.etc-shop.de/audio-technik/dj-equipment/mobile-anlagen/" title="Mobile Anlagen">
                           <picture>
                              <source media="(min-width: 992px)" srcset="https://www.etc-shop.de//layout/content/kampagnen/kw01-19/content_start_slider1_1920_de.jpg">
                              <source media="(min-width: 768px)" srcset="https://www.etc-shop.de/layout/content/kampagnen/kw01-19/content_start_slider1_992_de.jpg">
                              <source media="(min-width: 480px)" srcset="https://www.etc-shop.de/layout/content/kampagnen/kw01-19/content_start_slider1_768_de.jpg">
                              <source srcset="https://www.etc-shop.de/layout/content/kampagnen/kw01-19/content_start_slider1_480_de.jpg">
                              <img class="" data-src="https://www.etc-shop.de/layout/content/kampagnen/kw01-19/content_start_slider1_1920_de.jpg" src="https://www.etc-shop.de/layout/content/kampagnen/kw01-19/content_start_slider1_1920_de.jpg">
                           </picture>
                        </a>
                     </div>
                  </div>
                  <div class="owl-item" style="width: 370px;">
                     <div class="slide slide-2">
                        <a href="https://www.etc-shop.de/lampen-moebel/leuchtmittel/?multishop_id=0&amp;group%5B0%5D=1&amp;service=selector&amp;Params%5BSearchParam%5D=&amp;count=0&amp;attrib%5BFunktion%5D%5B0%5D=Vintage&amp;first=0" title="Leuchtmittel">
                           <picture>
                              <source media="(min-width: 992px)" srcset="https://www.etc-shop.de/layout/content/kampagnen/kw01-19/content_start_slider2_1920_de.jpg">
                              <source media="(min-width: 768px)" srcset="https://www.etc-shop.de/layout/content/kampagnen/kw01-19/content_start_slider2_992_de.jpg">
                              <source media="(min-width: 480px)" srcset="https://www.etc-shop.de/layout/content/kampagnen/kw01-19/content_start_slider2_768_de.jpg">
                              <source srcset="https://www.etc-shop.de/layout/content/kampagnen/kw01-19/content_start_slider2_480_de.jpg">
                              <img class="" data-src="https://www.etc-shop.de/layout/content/kampagnen/kw01-19/content_start_slider2_1920_de.jpg" src="https://www.etc-shop.de/layout/content/kampagnen/kw01-19/content_start_slider2_1920_de.jpg">
                           </picture>
                        </a>
                     </div>
                  </div>
               </div>
            </div>
            <div class="owl-controls clickable">
               <div class="owl-pagination">
                  <div class="owl-page active">
                     <span class=""></span>
                  </div>
                  <div class="owl-page">
                     <span class=""></span>
                  </div>
               </div>
               <div class="owl-buttons">
                  <div class="owl-prev"></div>
                  <div class="owl-next"></div>
               </div>
            </div>
         </div>
       -->


      {% set itemsLastSeen = services.itemList.getItemList( "last_seen", config("CeresCoconut.homepage.cntStartDeP2B1Value"), "variation.position_asc",1 ).documents %}
      {% set itemLastSeenLbl  = trans("Ceres::Template.itemListLastSeen") %}

      {% if lang == 'en' %}
             {% if config("CeresCoconut.homepage.cntStartEnP2B1Value") != '' %}
               {% set itemsP2B1 = services.itemList.getItemList( "tag_list", config("CeresCoconut.homepage.cntStartEnP2B1Value"), "variation.position_asc",1 ).documents %}
             {% else %}
               {% set itemsP2B1 = "NULL" %}
             {% endif %}
              {% if config("CeresCoconut.homepage.cntStartEnP2B2Value") != '' %}
               {% set itemsP2B2 = services.itemList.getItemList( "tag_list", config("CeresCoconut.homepage.cntStartEnP2B2Value"), "variation.position_asc",1 ).documents %}
             {% else %}
               {% set itemsP2B2 = "NULL" %}
             {% endif %}
             {% if config("CeresCoconut.homepage.cntStartEnP2B3Value") != '' %}
               {% set itemsP2B3 = services.itemList.getItemList( "tag_list", config("CeresCoconut.homepage.cntStartEnP2B3Value"), "variation.position_asc",1 ).documents %}
             {% else %}
               {% set itemsP2B3 = "NULL" %}
             {% endif %}
             {% if config("CeresCoconut.homepage.cntStartEnP2B4Value") != '' %}
               {% set itemsP2B4 = services.itemList.getItemList( "tag_list", config("CeresCoconut.homepage.cntStartEnP2B4Value"), "variation.position_asc",1 ).documents %}
             {% else %}
               {% set itemsP2B4 = "NULL" %}
             {% endif %}

              {% set lblP2B1 = config("CeresCoconut.homepage.cntStartEnP2B1Label") %}
              {% set lblP2B2 = config("CeresCoconut.homepage.cntStartEnP2B2Label") %}
              {% set lblP2B3 = config("CeresCoconut.homepage.cntStartEnP2B3Label") %}
              {% set lblP2B4 = config("CeresCoconut.homepage.cntStartEnP2B4Label") %}

              {% set altUrlP2B1 = config("CeresCoconut.homepage.cntStartEnP2B1AltUrl") %}
              {% set altUrlP2B2 = config("CeresCoconut.homepage.cntStartEnP2B2AltUrl") %}
              {% set altUrlP2B3 = config("CeresCoconut.homepage.cntStartEnP2B3AltUrl") %}
            {% set altUrlP2B4 = config("CeresCoconut.homepage.cntStartEnP2B4AltUrl") %}
      {% elseif lang == 'fr' %}
             {% if config("CeresCoconut.homepage.cntStartFrP2B1Value") != '' %}
                 {% set itemsP2B1 = services.itemList.getItemList( "tag_list", config("CeresCoconut.homepage.cntStartFrP2B1Value"), "variation.position_asc",1 ).documents %}
              {% else %}
                 {% set itemsP2B1 = "NULL" %}
              {% endif %}
              {% if config("CeresCoconut.homepage.cntStartFrP2B2Value") != '' %}
                 {% set itemsP2B2 = services.itemList.getItemList( "tag_list", config("CeresCoconut.homepage.cntStartFrP2B2Value"), "variation.position_asc",1 ).documents %}
              {% else %}
                 {% set itemsP2B2 = "NULL" %}
              {% endif %}
              {% if config("CeresCoconut.homepage.cntStartFrP2B3Value") != '' %}
                 {% set itemsP2B3 = services.itemList.getItemList( "tag_list", config("CeresCoconut.homepage.cntStartFrP2B3Value"), "variation.position_asc",1 ).documents %}
              {% else %}
                 {% set itemsP2B3 = "NULL" %}
              {% endif %}
             {% if config("CeresCoconut.homepage.cntStartFrP2B4Value") != '' %}
                {% set itemsP2B4 = services.itemList.getItemList( "tag_list", config("CeresCoconut.homepage.cntStartFrP2B4Value"), "variation.position_asc",1 ).documents %}
             {% else %}
                {% set itemsP2B4 = "NULL" %}
             {% endif %}

            {% set lblP2B1 = config("CeresCoconut.homepage.cntStartFrP2B1Label") %}
            {% set lblP2B2 = config("CeresCoconut.homepage.cntStartFrP2B2Label") %}
            {% set lblP2B3 = config("CeresCoconut.homepage.cntStartFrP2B3Label") %}
            {% set lblP2B4 = config("CeresCoconut.homepage.cntStartFrP2B4Label") %}

            {% set altUrlP2B1 = config("CeresCoconut.homepage.cntStartFrP2B1AltUrl") %}
            {% set altUrlP2B2 = config("CeresCoconut.homepage.cntStartFrP2B2AltUrl") %}
            {% set altUrlP2B3 = config("CeresCoconut.homepage.cntStartFrP2B3AltUrl") %}
            {% set altUrlP2B4 = config("CeresCoconut.homepage.cntStartFrP2B4AltUrl") %}
      {% else %}
             {% if config("CeresCoconut.homepage.cntStartDeP2B1Value") != '' %}
                 {% set itemsP2B1 = services.itemList.getItemList( "tag_list", config("CeresCoconut.homepage.cntStartDeP2B1Value"), "variation.position_asc",1 ).documents %}
             {% else %}
                 {% set itemsP2B1 = "NULL" %}
             {% endif %}
             {% if config("CeresCoconut.homepage.cntStartDeP2B2Value") != '' %}
                 {% set itemsP2B2 = services.itemList.getItemList( "tag_list", config("CeresCoconut.homepage.cntStartDeP2B2Value"), "variation.position_asc",1 ).documents %}
             {% else %}
                 {% set itemsP2B2 = "NULL" %}
             {% endif %}
             {% if config("CeresCoconut.homepage.cntStartDeP2B3Value") != '' %}
                 {% set itemsP2B3 = services.itemList.getItemList( "tag_list", config("CeresCoconut.homepage.cntStartDeP2B3Value"), "variation.position_asc",1 ).documents %}
             {% else %}
                {% set itemsP2B3 = "NULL" %}
             {% endif %}
             {% if config("CeresCoconut.homepage.cntStartDeP2B4Value") != '' %}
                 {% set itemsP2B4 = services.itemList.getItemList( "tag_list", config("CeresCoconut.homepage.cntStartDeP2B4Value"), "variation.position_asc",1 ).documents %}
             {% else %}
                {% set itemsP2B4 = "NULL" %}
             {% endif %}

            {% set lblP2B1 = config("CeresCoconut.homepage.cntStartDeP2B1Label") %}
            {% set lblP2B2 = config("CeresCoconut.homepage.cntStartDeP2B2Label") %}
            {% set lblP2B3 = config("CeresCoconut.homepage.cntStartDeP2B3Label") %}
            {% set lblP2B4 = config("CeresCoconut.homepage.cntStartDeP2B4Label") %}

            {% set altUrlP2B1 = config("CeresCoconut.homepage.cntStartDeP2B1AltUrl") %}
            {% set altUrlP2B2 = config("CeresCoconut.homepage.cntStartDeP2B2AltUrl") %}
            {% set altUrlP2B3 = config("CeresCoconut.homepage.cntStartDeP2B3AltUrl") %}
            {% set altUrlP2B4 = config("CeresCoconut.homepage.cntStartDeP2B4AltUrl") %}
      {% endif %}

       <div class="container_centered">
         {% if itemsP2B1 != 'NULL' or itemsP2B2 != 'NULL' or itemsP2B3 != 'NULL' or itemsP2B4 != 'NULL' %}
           <div class="container_centered PromoBox col-lg-12 col-md-12 col-sm-12 col-xs-12" id="cnt_Start_Pos2">

              <div class="container">
                 {% if itemsLastSeen %}
                   <start-box-item-list class="StartBoxItemList LastSeenList col-xs-12 col-sm-6 col-lg-3" :items="{{ itemsLastSeen | json_encode }}" :label="{{ itemLastSeenLbl | json_encode }}"></start-box-item-list>
                 {% else %}
                   {% if itemsP2B1 != 'NULL' %}
                      <start-box-item-list class="StartBoxItemList col-xs-12 col-sm-12 col-lg-3" :items="{{ itemsP2B1 | json_encode }}" :label="{{ lblP2B1 | json_encode }}" :alt-url="{{ altUrlP2B1 | json_encode }}"></start-box-item-list>
                   {% endif %}
                 {% endif %}
                 {% if itemsP2B2 != 'NULL' %}
                    <start-box-item-list class="StartBoxItemList col-xs-12 col-sm-12 col-lg-3" :items="{{ itemsP2B2 | json_encode }}" :label="{{ lblP2B2 | json_encode }}" :alt-url="{{ altUrlP2B2 | json_encode }}"></start-box-item-list>
                 {% endif %}
                 {% if itemsP2B3 != 'NULL' %}
                    <start-box-item-list class="StartBoxItemList col-xs-12 col-sm-12 col-lg-3" :items="{{ itemsP2B3 | json_encode }}" :label="{{ lblP2B3 | json_encode }}" :alt-url="{{ altUrlP2B3 | json_encode }}"></start-box-item-list>
                 {% endif %}
                 {% if itemsP2B4 != 'NULL' %}
                    <start-box-item-list class="StartBoxItemList col-xs-12 col-sm-12 col-lg-3" :items="{{ itemsP2B4 | json_encode }}" :label="{{ lblP2B4 | json_encode }}" :alt-url="{{ altUrlP2B4 | json_encode }}"></start-box-item-list>
                 {% endif %}
              </div>
           </div>
        {% endif %}
        <div class="container_centered PromoBox col-lg-12 col-md-12 col-sm-12 col-xs-12" id="cnt_Start_Pos3">
          <div class="container">
            {% if lang == 'en' %}
              {% set picP3S1 = config("CeresCoconut.homepage.cntStartEnP3S1PicUrl") %}
              {% set urlP3S1 = config("CeresCoconut.homepage.cntStartEnP3S1Url") %}
              {% set altP3S1 = config("CeresCoconut.homepage.cntStartEnP3S1AltText") %}
            {% elseif lang == 'fr' %}
              {% set picP3S1 = config("CeresCoconut.homepage.cntStartFrP3S1PicUrl") %}
              {% set urlP3S1 = config("CeresCoconut.homepage.cntStartFrP3S1Url") %}
              {% set altP3S1 = config("CeresCoconut.homepage.cntStartFrP3S1AltText") %}
            {% else %}
              {% set picP3S1 = config("CeresCoconut.homepage.cntStartDeP3S1PicUrl") %}
              {% set urlP3S1 = config("CeresCoconut.homepage.cntStartDeP3S1Url") %}
              {% set altP3S1 = config("CeresCoconut.homepage.cntStartDeP3S1AltText") %}
            {% endif %}

            <a href="{{ urlP3S1 }}" title="{{ config("CeresCoconut.homepage.cntStartEnP3S1AltText") }}">

              <picture>
                <source media="(min-width: 992px)" srcset="{{ picP3S1 }}">
                <!-- Tablet/Desptop -->
                <source media="(min-width: 768px)" srcset="{{ picP3S1 | replace({'.jpg': '-992.jpg'}) }}">
                <!-- Tablet/Desptop -->
                <source media="(min-width: 480px)" srcset="{{ picP3S1 | replace({'.jpg': '-768.jpg'}) }}">
                <!-- Mobile -->
                <source srcset="{{ picP3S1 | replace({'.jpg': '-480.jpg'}) }}">
                <!-- Fallback (Desktop) -->
                <img class="col-lg-12 col-md-12 col-sm-12 col-xs-12" data-src="{{ picP3S1 }}" src="{{ picP3S1 }}" alt="{{ altP3S1 }}">
              </picture>

            </a>
          </div>
        </div>

        {% if lang == 'en' %}
             {% if config("CeresCoconut.homepage.cntStartEnP4B1Value") != '' %}
                 {% set itemsP4B1 = services.itemList.getItemList( "tag_list", config("CeresCoconut.homepage.cntStartEnP4B1Value"), "variation.position_asc",1 ).documents %}
             {% else %}
                 {% set itemsP4B1 = "NULL" %}
             {% endif %}
             {% if config("CeresCoconut.homepage.cntStartEnP4B2Value") != '' %}
                 {% set itemsP4B2 = services.itemList.getItemList( "tag_list", config("CeresCoconut.homepage.cntStartEnP4B2Value"), "variation.position_asc",1 ).documents %}
             {% else %}
                 {% set itemsP4B3 = "NULL" %}
             {% endif %}
             {% if config("CeresCoconut.homepage.cntStartEnP4B3Value") != '' %}
                 {% set itemsP4B3 = services.itemList.getItemList( "tag_list", config("CeresCoconut.homepage.cntStartEnP4B3Value"), "variation.position_asc",1 ).documents %}
             {% else %}
                 {% set itemsP4B3 = "NULL" %}
             {% endif %}
             {% if config("CeresCoconut.homepage.cntStartEnP4B4Value") != '' %}
                 {% set itemsP4B4 = services.itemList.getItemList( "tag_list", config("CeresCoconut.homepage.cntStartEnP4B4Value"), "variation.position_asc",1 ).documents %}
             {% else %}
                 {% set itemsP4B4 = "NULL" %}
             {% endif %}

             {% set lblP4B1 = config("CeresCoconut.homepage.cntStartEnP4B1Label") %}
             {% set lblP4B2 = config("CeresCoconut.homepage.cntStartEnP4B2Label") %}
             {% set lblP4B3 = config("CeresCoconut.homepage.cntStartEnP4B3Label") %}
             {% set lblP4B4 = config("CeresCoconut.homepage.cntStartEnP4B4Label") %}

             {% set altUrlP4B1 = config("CeresCoconut.homepage.cntStartEnP4B1AltUrl") %}
             {% set altUrlP4B2 = config("CeresCoconut.homepage.cntStartEnP4B2AltUrl") %}
             {% set altUrlP4B3 = config("CeresCoconut.homepage.cntStartEnP4B3AltUrl") %}
             {% set altUrlP4B4 = config("CeresCoconut.homepage.cntStartEnP4B4AltUrl") %}
        {% elseif lang == 'fr' %}
             {% if config("CeresCoconut.homepage.cntStartFrP4B1Value") != '' %}
                 {% set itemsP4B1 = services.itemList.getItemList( "tag_list", config("CeresCoconut.homepage.cntStartFrP4B1Value"), "variation.position_asc",1 ).documents %}
             {% else %}
                 {% set itemsP4B1 = "NULL" %}
             {% endif %}
             {% if config("CeresCoconut.homepage.cntStartFrP4B2Value") != '' %}
                 {% set itemsP4B2 = services.itemList.getItemList( "tag_list", config("CeresCoconut.homepage.cntStartFrP4B2Value"), "variation.position_asc",1 ).documents %}
             {% else %}
                 {% set itemsP4B2 = "NULL" %}
             {% endif %}
             {% if config("CeresCoconut.homepage.cntStartFrP4B3Value") != '' %}
                 {% set itemsP4B3 = services.itemList.getItemList( "tag_list", config("CeresCoconut.homepage.cntStartFrP4B3Value"), "variation.position_asc",1 ).documents %}
             {% else %}
                 {% set itemsP4B3 = "NULL" %}
             {% endif %}
             {% if config("CeresCoconut.homepage.cntStartFrP4B4Value") != '' %}
                 {% set itemsP4B4 = services.itemList.getItemList( "tag_list", config("CeresCoconut.homepage.cntStartFrP4B4Value"), "variation.position_asc",1 ).documents %}
             {% else %}
                 {% set itemsP4B4 = "NULL" %}
             {% endif %}

             {% set lblP4B1 = config("CeresCoconut.homepage.cntStartFrP4B1Label") %}
             {% set lblP4B2 = config("CeresCoconut.homepage.cntStartFrP4B2Label") %}
             {% set lblP4B3 = config("CeresCoconut.homepage.cntStartFrP4B3Label") %}
             {% set lblP4B4 = config("CeresCoconut.homepage.cntStartFrP4B4Label") %}

             {% set altUrlP4B1 = config("CeresCoconut.homepage.cntStartFrP4B1AltUrl") %}
             {% set altUrlP4B2 = config("CeresCoconut.homepage.cntStartFrP4B2AltUrl") %}
             {% set altUrlP4B3 = config("CeresCoconut.homepage.cntStartFrP4B3AltUrl") %}
             {% set altUrlP4B4 = config("CeresCoconut.homepage.cntStartFrP4B4AltUrl") %}
        {% else %}
             {% if config("CeresCoconut.homepage.cntStartDeP4B1Value") != '' %}
                 {% set itemsP4B1 = services.itemList.getItemList( "tag_list", config("CeresCoconut.homepage.cntStartDeP4B1Value"), "variation.position_asc",1 ).documents %}
             {% else %}
                 {% set itemsP4B1 = "NULL" %}
             {% endif %}
             {% if config("CeresCoconut.homepage.cntStartDeP4B2Value") != '' %}
                 {% set itemsP4B2 = services.itemList.getItemList( "tag_list", config("CeresCoconut.homepage.cntStartDeP4B2Value"), "variation.position_asc",1 ).documents %}
             {% else %}
                 {% set itemsP4B2 = "NULL" %}
             {% endif %}
             {% if config("CeresCoconut.homepage.cntStartDeP4B3Value") != '' %}
                 {% set itemsP4B3 = services.itemList.getItemList( "tag_list", config("CeresCoconut.homepage.cntStartDeP4B3Value"), "variation.position_asc",1 ).documents %}
             {% else %}
                 {% set itemsP4B3 = "NULL" %}
             {% endif %}
             {% if config("CeresCoconut.homepage.cntStartDeP4B4Value") != '' %}
                 {% set itemsP4B4 = services.itemList.getItemList( "tag_list", config("CeresCoconut.homepage.cntStartDeP4B4Value"), "variation.position_asc",1 ).documents %}
             {% else %}
                 {% set itemsP4B4 = "NULL" %}
             {% endif %}

             {% set lblP4B1 = config("CeresCoconut.homepage.cntStartDeP4B1Label") %}
             {% set lblP4B2 = config("CeresCoconut.homepage.cntStartDeP4B2Label") %}
             {% set lblP4B3 = config("CeresCoconut.homepage.cntStartDeP4B3Label") %}
             {% set lblP4B4 = config("CeresCoconut.homepage.cntStartDeP4B4Label") %}

             {% set altUrlP4B1 = config("CeresCoconut.homepage.cntStartDeP4B1AltUrl") %}
             {% set altUrlP4B2 = config("CeresCoconut.homepage.cntStartDeP4B2AltUrl") %}
             {% set altUrlP4B3 = config("CeresCoconut.homepage.cntStartDeP4B3AltUrl") %}
             {% set altUrlP4B4 = config("CeresCoconut.homepage.cntStartDeP4B4AltUrl") %}
        {% endif %}

        {% if itemsP4B1 != 'NULL' or itemsP4B2 != 'NULL' or itemsP4B3 != 'NULL' or itemsP4B4 != 'NULL' %}
          <div class="container_centered PromoBox col-lg-12 col-md-12 col-sm-12 col-xs-12" id="cnt_Start_Pos4">
               <div class="container">
                  {% if itemsP4B1 != 'NULL' %}
                      <start-box-item-list class="StartBoxItemList col-sm-6 col-lg-3" :items="{{ itemsP4B1 | json_encode }}" :label="{{ lblP4B1 | json_encode }}" :alt-url="{{ altUrlP4B1 | json_encode }}"></start-box-item-list>
                  {% endif %}
                  {% if itemsP4B2 != 'NULL' %}
                      <start-box-item-list class="StartBoxItemList col-sm-6 col-lg-3" :items="{{ itemsP4B2 | json_encode }}" :label="{{ lblP4B2 | json_encode }}" :alt-url="{{ altUrlP4B2 | json_encode }}"></start-box-item-list>
                  {% endif %}
                  {% if itemsP4B3 != 'NULL' %}
                      <start-box-item-list class="StartBoxItemList col-sm-6 col-lg-3" :items="{{ itemsP4B3 | json_encode }}" :label="{{ lblP4B3 | json_encode }}" :alt-url="{{ altUrlP4B3 | json_encode }}"></start-box-item-list>
                  {% endif %}
                  {% if itemsP4B4 != 'NULL' %}
                      <start-box-item-list class="StartBoxItemList col-sm-6 col-lg-3" :items="{{ itemsP4B4 | json_encode }}" :label="{{ lblP4B4 | json_encode }}" :alt-url="{{ altUrlP4B4 | json_encode }}"></start-box-item-list>
                  {% endif %}
               </div>
           </div>
        {% endif %}
         <div class="container_centered" id="cnt_Start_SEO">
            <div class="container">
               <div class="row">
                  <div class="col-lg-12 p-0">
                     <h3>
                      {% if webstoreConfig.webstoreId == 4 %}
                        {{ trans("CeresCoconut::Template.ML_Start_SEOHead") | raw }}
                      {% else %}
                        {{ trans("CeresCoconut::Template.ETC_Start_SEOHead") | raw }}
                      {% endif %}
                      </h3>
                     <div class="textWrapper">
                        <p>
                          {% if webstoreConfig.webstoreId == 4 %}
                           {{ trans("CeresCoconut::Template.ML_Start_SEOText") | raw }}
                          {% else %}
                           {{ trans("CeresCoconut::Template.ETC_Start_SEOText") | raw }}
                          {% endif %}
                        </p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
    </div>
   </div>
</div>
</div>


{% endblock %}
