{% extends getPartial('page-design') %}

{% block PartialHead %}
    <meta name="robots" content="NOINDEX, NOFOLLOW">
    <title>{{ trans("Ceres::Template.login") }} | {{ config("Ceres.header.company_name") }}</title>
{% endblock %}

{% block PageBody %}
    {{ component( "CeresCoconut::Customer.Components.LoginViewETC") }}
    {{ component( "CeresCoconut::Customer.Components.LoginETC") }}
    {{ component( "CeresCoconut::Customer.Components.GuestLoginETC") }}
    {{ component( "CeresCoconut::Customer.Components.RegistrationETC") }}

    <login-view template="#vue-login-viewETC"></login-view>
{% endblock %}
