{% extends getPartial('page-design') %}
{% import "Ceres::Checkout.Macros.Address" as address %}
{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% block PartialHead %}
    <meta name="robots" content="NOINDEX, NOFOLLOW">
    <title>{{ trans("Ceres::Template.orderConfirmation") }} | {{ config("Ceres.header.company_name") }}</title>

{% endblock %}

{% block PageBody %}
    {{ component( "Ceres::MyAccount.Components.ChangePaymentMethod" ) }}

    {% set overrideConfirmation = LayoutContainer.show("Ceres::OrderConfirmation.Override") %}
    {% set addContentAfterOrderDetailsRow = LayoutContainer.show("Ceres::OrderConfirmation.AddContentAfterOrderDetailsRow") %}

    {% if overrideConfirmation|trim is empty %}
        <div class="page-content myaccount container-max m-t-1 p-b-3" id="OrderConfirmation_Container">
            <div class="row rowCaption">
              <div class="col-sm-12 col-lg-12">
                <div class="ContentCaption">{{ trans("CeresCoconut::Template.orderConfirmationTitle") }}</div>
              </div>
            </div>
            <div class="row m-b-3 rowInfo">
                <div class="col-xs-12 col-sm-12 col-lg-12 OrderConfirmation_Intro">
                    <h1 class="h2">{{ trans("Ceres::Template.orderConfirmationThanks") }}</h1>
                    <p>{{ trans("Ceres::Template.orderConfirmationWillBeProcessed") }}</p>
                </div>
            </div>

            {{ LayoutContainer.show("Ceres::OrderConfirmation.BeforeOrderDetails", data.order) }}

            {% include "CeresCoconut::Checkout.OrderDetails" with { orderData: data } %}

            <div class="row rowTrustedShops">
              <div class="col-md-6 m-b-2">
                <div class="card small">
                  <div class="card-block">
                    <div id="ts_Bewertung">
                      {% if webstoreConfig.webstoreId == 4 %}
                        <a href="https://www.trustedshops.de/bewertung/bewerten_X265918130C87C319EB2890B6759D208E.html&buyerEmail={{ codedMail }}&shopOrderID={{ codedOrderID }}">{{ trans("CeresCoconut::Template.ETC_JetztBewerten") }}</a>
                      {% else %}
                        <a href="https://www.trustedshops.de/bewertung/bewerten_X59BB3F6DD867AF89CB5B857F35614717.html&buyerEmail={{ codedMail }}&shopOrderID={{ codedOrderID }}">{{ trans("CeresCoconut::Template.ETC_JetztBewerten") }}</a>
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>

            {% if addContentAfterOrderDetailsRow|trim is not empty %}
            <div class="row">
              {{ addContentAfterOrderDetailsRow }}
            </div>
            {% endif %}
            <div class="row rowBottomButtons" id="OrderConfirmation_Bottom_Buttons">
                {% set loggedIn = frontend.Account.getIsAccountLoggedIn %}
                <div id="OrderConfirmation_ToHomeButton" class="col-xs-6 col-md-4 {% if loggedIn %}offset-md-2{% else %}offset-xs-3 offset-md-4{% endif %}">
                    <a v-waiting-animation-infinite href="{{ homepageURL }}" type="" class="btn btn-primary btn-block bg-primary">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        {{ trans("Ceres::Template.orderConfirmationHomepage") }}
                    </a>
                </div>


                {% if loggedIn %}
                    <div id="OrderConfirmation_ToMyAccountButton" class="col-xs-6 col-md-4">
                        <a v-waiting-animation-infinite href="{{ urls.myAccount }}" type="" class="btn btn-primary btn-block bg-primary">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            {{ trans("Ceres::Template.orderConfirmationMyAccount") }}
                        </a>
                    </div>
                {% endif %}
            </div>

        </div>
    {% else %}


        {{ overrideConfirmation }}
    {% endif %}

    {{ LayoutContainer.show("CeresCoconut::Payment.Scripts") }}
{% endblock %}
