{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{# {{ component( "Ceres::Item.Components.ItemBundle" ) }} #}

<script type="x/template" id="vue-add-item-to-basket-overlayETC">

    <div id="add-item-to-basket-overlay" class="test1528">
        <div class="modal fade">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <!-- MODAL HEADER -->
                    <div class="modal-header">
                        <div class="modal-title h3 TEST1042">{{ trans("Ceres::Template.singleItemAdded") }}</div>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <span id="timerContainer"><span class="timer"></span>s</span>
                    </div>
                    <!-- ./MODAL HEADER -->

                    <!-- MODAL BODY -->
                    <div class="modal-body">
                    <!-- ./MODAL BODY -->

                    <!-- MODAL FOOTER -->
                    <div class="modal-footer TEST1046">
                        <div class="row">
                            <div class="col-sm-8 offset-sm-2 item-confirm-special-case-close test1530">
                                <div id="content_basket_info_tobasketcontainer">
                                  <a href="{{ urls.basket }}" class="btn btn-primary btn-medium btn-m-r btn-outline-primary" id="content_basket_info_tobasketcontainer_link">
                                      <!--<i class="fa fa-shopping-cart" aria-hidden="true"></i>-->
                                      {{ trans("Ceres::Template.singleItemBasket") }}
                                  </a>
                                </div>
                                <div id="content_basket_info_or">
                                  {{ trans("CeresCoconut::Template.ETC_Or") }}
                                </diV>
                                <div id="content_basket_info_proceedcontainer" data-dismiss="modal" aria-label="Close">
                                  <a id="content_basket_info_proceedcontainer_link" data-dismiss="modal" aria-label="Close">{{ trans("CeresCoconut::Template.ETC_Weiter_einkaufen") }}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                  </div>
                  <!-- ./MODAL SIDE -->
                  <div class="modal-side">
                    <div class="modal-side-header">{{ trans("CeresCoconut::Template.ETC_ArtikelIn_Warenkorb_Pay") }} </div>
                    {{ LayoutContainer.show("Ceres::Basket.ExtendOverlayButtons") }}
                  </div>

                </div>
            </div>
        </div>
    </div>

</script>
