{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}
{{ component( "Ceres::Basket.Components.BasketListETC" ) }}
{{ component( "Ceres::Basket.Components.BasketTotalsETC" ) }}

<script type="x/template" id="vue-basket-preview-hoverETC">
<div class="headicon_toolbox_container headicon_toolbox_container_inactive" id="BasketPreviewContainer">
  <div class="headicon_toolbox_spacing"></div>
  <div class="headicon_toolbox_spacing"></div>
  <div class="headicon_toolbox" id="BasketPreview" v-if="$store.state.basket.data.itemQuantity == 0">
    <div class="basketPreviewBasketEmpty">{{ trans("Ceres::Template.ETC_WarenkorbLeer") }}</div>
  </div>
  <div class="headicon_toolbox" id="BasketPreview" v-else>
    <basket-list class="item-list" template="#vue-basket-listETC" size="small"></basket-list>
    <hr>
    <div class="basketPreviewFooter">
      <basket-totals template="#vue-basket-totalsETC"></basket-totals>
      <!--<div class="small lh-075">{{ trans("Ceres::Template.itemExclusive") }} <a href="https://www.etc-shop.de/cnt/versandkosten/">{{ trans("Ceres::Template.ETC_Versand") }}</a></div>-->
      <div class="basketPreviewShowBasket">
        <a class="btn btn-default pull-right" href="{{ urls.basket }}" rel="nofollow" title="zum Warenkorb">{{ trans("Ceres::Template.ETC_Ansehen") }}</a>
      </div>
    </div>
  </div>
</div>
</script>
