{% extends getPartial('page-design') %}

{% block PartialHead %}
    <title>{{ config("Ceres.header.company_name") }} - {{ trans("CeresCoconut::Template.ETC_Merkliste") }}</title>
{% endblock %}

{% block PageBody %}
    {{ component( "CeresCoconut::WishList.Components.WishList" ) }}

    <div class="page-content wish-list container-max m-b-3">
      <div class="row">
          <div class="col-sm-12 col-lg-12">
              <div class="ContentCaption">{{ trans("CeresCoconut::Template.ETC_Merkliste") }}</div>
              <div class="ContentText">{{ trans("CeresCoconut::Template.ETC_Merkliste_Text") }}</div>
          </div>
      </div>

      <hr>
        <div style="display: none;" id="hiddenWishList">{{ wishList | json_encode() }}</div>
       <wish-list template="#vue-wish-list" :init-ids="{{ wishList | json_encode() }}"></wish-list>
    </div>
{% endblock %}
