{{ component( "CeresCoconut::ItemList.Components.CategoryImageCarousel") }}
{{ component( "CeresCoconut::ItemList.Components.ItemStoreSpecial" ) }}

{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}
{% import "CeresCoconut::PageDesign.Macros.ItemName" as ItemName %}

{% set lang = services.sessionStorage.getLang() %}
{% set shippingCat = config("Ceres.global.shippingCostsCategoryId") %}

{% if enableCarousel is not defined %}
    {% if config("Ceres.item.enable_image_carousel") == "true" %}
        {% set enableCarousel = "true" %}
    {% else %}
        {% set enableCarousel = "false" %}
    {% endif %}
{% endif %}

{% set techData = item.texts.technicalData %}
{% set nameItem = item.texts.name1 %}
{% set image = item.images.all | first %}
{% set itemUrl =  item.texts.urlPath %}

{% if enableCarousel is not defined %}
    {% set enableCarousel = ceresConfig.item.enableImageCarousel %}
{% endif %}

{% if (item.texts.name3 == "") or (item.texts.name3 == "N / A") %}
  {% set etcAltText = ItemName.get(item | itemName, item.variation.bundleType) %}
{% else %}
  {% set etcAltText = item.texts.name3 %}
{% endif %}

<script type="x/template" id="vue-category-itemETC">
  <li class="col-lg-3" :data-plenty-id="item.item.id">
    <div class="itemBoxInner">
        <category-item-quickview class="categoryItemQuickView" :item-data="item" :disable-carousel-on-mobile="disableCarouselOnMobile">
          <template #etc-quickview-eigenschaften>
            <slot name="etc-eigenschaften"></slot>
          </template>
          <template #quickViewImageCarousel>
            <item-image-carousel plugin-path="{{ plugin_path('Ceres') }}" image-url-accessor="url"></item-image-carousel>
            <category-image-carousel :image-urls-data="item.images | itemImages('urlPreview')"
                                    :alt-text="item | itemName"
                                    :title-text="item | itemName"
                                    :enable-carousel="$ceres.config.item.enableImageCarousel"
                                    :disable-carousel-on-mobile="disableCarouselOnMobile"
                                    :disable-lazy-load="true"
                                    :show-dots="true"
                                    :show-nav="true"
                                    ref="categoryImageCarousel">
            </category-image-carousel>
          </template>
        </category-item-quickview>

      <div class="catItemRow1 row text-center">
        <category-image-carousel :image-urls-data="item.images | itemImages(imageUrlAccessor)"
                                :alt-text="item | itemName"
                                :title-text="item | itemName"
                                :item-url="item | itemURL(urlWithVariationId)"
                                :enable-carousel="$ceres.config.item.enableImageCarousel"
                                :disable-carousel-on-mobile="disableCarouselOnMobile"
                                ref="categoryImageCarousel">
        </category-image-carousel>
        <div class="crossprice_saving" v-if="item.prices.rrp != null">
          -${ ((1 - (item.prices.default.price.value / item.prices.rrp.unitPrice.value)) * 100) | numberFormat(0) }%
        </div>
      </div>
      <div class="catItemRow2 row">
        <a class="name block" :href="item | itemURL(urlWithVariationId)">${ item | itemName }</a>
      </div>
      <div class="catItemRow3 row">
        <div class="priceContainer col-lg-6 p-0 float-left">
          ${ item.prices.default.unitPrice.formatted }
        </div>
        <div class="crosspriceContainer col-lg-6 p-0 float-right">
          <div class="crossPrice text-left" v-if="item.prices.rrp != null">
            <del>${ item.prices.rrp.unitPrice.value | numberFormat(2, '.', ',') } ${ item.prices.rrp.currency }</del> UVP
          </div>
        </div>
      </div>
      <div class="catItemRow4 row">
        <div class="CategoryViewRatingCount col-lg-6 px-0 float-left">
          {{ LayoutContainer.show("Ceres::CategoryItem.AfterPrices", item) }}
        </div>
        <div class="categoryViewShippingLabel col-lg-5 float-right text-center px-0" v-if="item.prices.default.price.value >= 100">
          {{ trans("CeresCoconut::Template.ETC_GratisVersand") }}
        </div>
      </div>
      <div class="catItemRow5 row">
        <slot name="etc-eigenschaften"></slot>
      </div>
      <div class="catItemRow6 row">
        <div class="CatOverviewTechnicalData" v-html="item.texts.technicalData"></div>
      </div>
    </div>
  </li>
</script>
