{{ component( "CeresCoconut::ItemList.Components.CategoryImageCarousel") }}
{{ component( "CeresCoconut::ItemList.Components.ItemStoreSpecial" ) }}

{% set lang = services.sessionStorage.getLang() %}
{% set shippingCat = config("Ceres.global.shippingCostsCategoryId") %}

{% if enableCarousel is not defined %}
    {% if config("Ceres.item.enable_image_carousel") == "true" %}
        {% set enableCarousel = "true" %}
    {% else %}
        {% set enableCarousel = "false" %}
    {% endif %}
{% endif %}

{% set techData = item.texts.technicalData %}
{% set nameItem = item.texts.name1 %}
{% set image = item.images.all | first %}
{% set itemUrl =  item.texts.urlPath %}

{% if enableCarousel is not defined %}
    {% set enableCarousel = ceresConfig.item.enableImageCarousel %}
{% endif %}

{% if (item.texts.name3 == "") or (item.texts.name3 == "N / A") %}
  {% set etcAltText = ItemName.get(item | itemName, item.variation.bundleType) %}
{% else %}
  {% set etcAltText = item.texts.name3 %}
{% endif %}

<script type="x/template" id="vue-category-itemETC">
  <li class="col-xs-6 col-sm-4 col-md-4 col-lg-3 margin-bottom-2 center itemBox tileView onHover action-0" data-plenty-id="{{ item.id }}">
    <div class="itemBoxInner">
      <div class="catItemRow1 row">
        <category-image-carousel :image-urls-data="item.images | itemImages(imageUrlAccessor)"
                                :alt-text="item | itemName"
                                :title-text="item | itemName"
                                :item-url="item | itemURL(urlWithVariationId)"
                                :enable-carousel="$ceres.config.item.enableImageCarousel"
                                :disable-carousel-on-mobile="disableCarouselOnMobile"
                                ref="categoryImageCarousel">
        </category-image-carousel>
        <div class="crossprice_saving" v-if="item.prices.rrp != null">
          ${ ((1 - (item.prices.default.price.value / item.prices.rrp.unitPrice.value)) * 100) | numberFormat(0) }%
        </div>
      </div>
      <div class="catItemRow2 row">
        <a class="name block" :href="item | itemURL(urlWithVariationId)">${ item | itemName }</a>
      </div>
      <div class="catItemRow3 row">
        <p class="price js-link">
          <span class="test large linkToItem">
            <span class="Price">
              ${ item.prices.default.unitPrice.formatted }
            </span>
          </span>
        </p>
        <p class="crossprice_container">
          <span class="crossprice_cat">
            <span v-if="item.prices.rrp != null"><del>${ item.prices.rrp.unitPrice.value | numberFormat(2, '.', ',') } ${ item.prices.rrp.currency }</del> UVP</span>
          </span>
        </p>
      </div>
      <div class="catItemRow4 row">
        <div class="CategoryViewRatingCount">
          <span class="ItemRatingIconContainer">
            {{ LayoutContainer.show("Ceres::CategoryItem.BeforePrices", item) }}
          </span>
        </div>
        <div class="categoryViewShippingLabel" v-if="item.prices.default.price.value >= 100">{{ trans("CeresCoconut::Template.ETC_GratisVersand") }}</div>
      </div>
      <div class="catItemRow5 row">
        <div v-for="prop in item.properties">
          ${ prop.property.names.name }
        </span>
      </div>
      <div class="catItemRow6 row">
        <div class="CatOverviewTechnicalData" v-html="item.texts.technicalData"></div>
      </div>
    </div>
  </li>
</script>
