{{ component( "CeresCoconut::ItemList.Components.CategoryImageCarousel") }}
{{ component( "CeresCoconut::ItemList.Components.ItemStoreSpecial" ) }}

{% set lang = services.sessionStorage.getLang() %}
{% set shippingCat = config("Ceres.global.shippingCostsCategoryId") %}

{% if enableCarousel is not defined %}
    {% if config("Ceres.item.enable_image_carousel") == "true" %}
        {% set enableCarousel = "true" %}
    {% else %}
        {% set enableCarousel = "false" %}
    {% endif %}
{% endif %}

{% set techData = item.texts.technicalData %}
{% set nameItem = item.texts.name1 %}
{% set image = item.data.images.all | first %}
{% set itemUrl =  item.texts.urlPath %}

{% if enableCarousel is not defined %}
    {% set enableCarousel = ceresConfig.item.enableImageCarousel %}
{% endif %}

<script type="x/template" id="vue-category-itemETC">
  <div class="itemBoxInner">
      <div class="CategoryViewRatingCount">
        <span class="ItemRatingIconContainer ItemRatingContainer_4.9">
          <!--<img src="/images/icons/silk/star_set_5_5.png" alt="Rating: 4.9">-->
        </span>
      </div>
      <div class="h-lg-2 h-md-3 h-sm-2 h-xs-6 PreviewImageBig">
        <div class="previewImageSlider owl-carousel owl-theme" style="opacity: 1; display: block;">
          <div class="owl-wrapper-outer">
            <div class="owl-wrapper" style="width: 3200px; left: 0px; display: block;">
                <div class="owl-item" style="width: 180px;">
                  <div class="imageBox h-lg-2 h-md-3 h-sm-2 h-xs-6 adapt-line-height">
                    <a :href="item | itemURL">
                        <img :src="item.images.all[0].urlMiddle" :alt="item.texts.name1">
                    </a>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <a class="name block" :href="itemData | itemURL">{{ nameItem }}</a>
      <p class="price js-link">
        <span class="test large linkToItem">
          <span class="Price">${ item.prices.default.unitPrice.formatted }</span> €
        </span>
      </p>
      <p class="item_details hidden-xs test1649"><a href="{{ itemURL }}">Details</a></p>
      <div class="CatOverviewTechnicalData">
        Technische Daten: {{ techData }}<br>
        ${ item.texts.technicalData }
      </div>
    </div>
</script>
