{% set decimalCount = config("Ceres.item.storeSpecial") %}
{% set loadingAnimationType = config("Ceres.item.loading_animation_type") %}
{% set showHeaderNavBar = config("Ceres.header.show_navbars") %}

{{ component( "CeresCoconut::Basket.Components.AddToBasket" ) }}
{{ component( "CeresCoconut::ItemList.Components.CategoryItemETC" ) }}
{{ component( "CeresCoconut::ItemList.Components.CategoryImageCarousel" ) }}
{{ component( "CeresCoconut::ItemList.Components.ItemLazyImg" ) }}
{{ component( "CeresCoconut::ItemList.Components.ItemStoreSpecial" ) }}

<script type="x/template" id="vue-item-list">
    <div id="vue-rendered-item-list"
         class="item-list-frame{% if loadingAnimationType == "blur" %} blur-effect{% endif %}"
         v-bind:class="{ 'loading': isLoading, 'is-loaded': !isLoading }">

        {% if loadingAnimationType != "blur" %}
            {% include "Ceres::ItemList.Partials.LoadingAnimation" %}
        {% endif %}

        <ul class="product-list row grid categoryDetails">
            <li v-for="item in items" :key="item.data.variation.id" class="col-xs-6 col-sm-4 col-md-4 col-lg-3 margin-bottom-2 center itemBox tileView onHover action-0">
                <category-item :item-data="item.data" decimal-count="{{ decimalCount }}" image-url-accessor="urlMiddle"></category-item>
            </li>
        </ul>
    </div>
</script>
